tr,td,th{
    font-weight: normal;
    justify-content: center;
    text-align: center;
}
thead{
    position: sticky;
    top: 0;
  }

  .Scroll{
    display: block;
    overflow-y: auto;
    scrollbar-width: none;
    height:90%
  }

  :host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
  }
  :host ::ng-deep .p-dropdown .p-dropdown-label{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
  }
  
  :host ::ng-deep .p-dropdown {
   width: min-content;
  }
  
  :host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
  }