table {
    width: 200%;
  }
  .table-container{
    max-width: 100%;
    overflow-x: auto;
  }
  th{
    border:1px solid black;
    text-align: center;
    font-weight: normal;
  }
  td{
    border:1px solid black;
    font-weight: normal;
  }
  mat-option{
    font-size:smaller;
  }
  
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td{
    text-align: center;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  th{
    text-align: center;
  }
  ::ng-deep .modal-backdrop.show {
    display: contents;
  }
  .fixTableHead{
    overflow: scroll;
    height: 75%;
  }





  /* ///////////////////////////////////////////////// */

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
th{
  align-items: center;
  font-size: small;
}
td{
  text-align: center;
}
tr{
  align-items: center;
}
.wide-column {
  width: 200px;
}
.toolbar1{
  height: fit-content; padding: 10px; display: flex; justify-content: space-between;
  background-color: gray; 
}

.toolbar2{
  height: fit-content; padding: 10px; display: flex; gap: 20px;
  background-color: gray; 
}
#numberOfEntries{
  font-size: small; 
  width: 50px;
}
#load{
  margin-left: -80px;
}
@media only screen and (max-width: 600px) {
.date{
  width: 47px;
}
.load{
  margin-left: -65px;

}

  /* Default style for the label */
  .day-label {
    font-size: 15px;
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  label {
    content: 'Days';
}
}
}

label{
  font-size: smaller;
}

thead{
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

  /* ///////////////////////////////////////////////// */
.ovralltable{
  overflow-x: scroll;
    height: 63vh;
    width: 100%;
}

::ng-deep.p-dropdown-panel .p-dropdown-items {
  margin-left:-27px
}
.fixTableHead{
  overflow: scroll;
  height: 69%;
  scrollbar-width: none;
}

.newlist1{
  display: flex; justify-content: flex-end; gap: 2%;
}
.newlist2{
  display: none;
}

.editpopup2{
  display: none;
}
@media screen  and (max-width: 600px) {
  .newlist1{
    display: none;
  }
  .newlist2{
    display: contents;
  } 
  .editpopup1{
    display: none;
  }
  .editpopup2{
    display: contents;
  }
}

.KnitScroll{
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
}