::ng-deep .form-control{
    border: 1px solid black;
}

fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
    margin-top: 2vh;
    /* width: 100%; */
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
    font-size: large;
    background-color: black;
    color: white;
    font-family: cursive;

}

th,tr,td{
    font-weight: normal;
    text-align: center;
}