<mat-toolbar style="display: flex; justify-content: space-around;">
  <button  (click)="workorder()" class="btn btn-primary">WorkOrder</button>
  <button  (click)="yarn()" class="btn btn-primary">Yarn-Entry</button>
  <button  (click)="knite()" class="btn btn-primary">Knite-Entry</button>
  <button  (click)="Dye()" class="btn btn-primary">Dye-Entry</button>
</mat-toolbar>

<cdk-accordion class="example-accordion">
  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
    style="display: flex; flex-direction: column; justify-content: center;">

    <div class="example-accordion-item-header" (click)="accordionItem.toggle()"
      style="display: flex; justify-content: space-around; gap: 0.5%; margin-top: 2%;">

      <mat-form-field appearance="outline" (click)="clearAll()">
        <mat-label>Buyer</mat-label>
        <mat-select [(ngModel)]="buyerName" (selectionChange)="woByBuyer()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let buyer of this.buyers" value="{{buyer.buyer}}">{{buyer.buyer}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Order</mat-label>
        <mat-select [(ngModel)]="ordernumbers" (selectionChange)="wobyOrder()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let order of this.order" value="{{order.orderNO}}">{{order.orderNO}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Style</mat-label>
        <mat-select [(ngModel)]="styleslist" (selectionChange)="wobystyle()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let style of this.stylelist" value="{{style.style}}">{{style.style}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>color</mat-label>
        <mat-select [(ngModel)]="colorslist" (selectionChange)="wobycolor()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let color of this.colorlist" value="{{color.color}}">{{color.color}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Size</mat-label>
        <mat-select [(ngModel)]="sizeslist" (selectionChange)="wobysize()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let size of this.sizelist" value="{{size.size}}">{{size.size}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<!---===========================================================================================================-->


<mat-toolbar style="height: fit-content; padding: 10px;">
  <span style="flex: 1 1 auto;"></span>
  <button mat-button color='primary' style="margin-right: 12px;" (click)="exportexcel2()">Download</button>
  <button mat-button color='primary' style="margin-right: 12px;" (click)="fabricEntry()">New</button>
</mat-toolbar>


<div class="fixTableHead">
  <table id="table-data2" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Sl.No</th>
        <th>Buyer</th>
        <th>Order No</th>
        <th>Style</th>
        <th>Color</th>
        <th>size</th>
        <th>fab Type</th>
        <th>fab Dia</th>
        <th>fab GSM</th>
        <th>knitSL</th>
        <th>Yarn Type</th>
        <th>yarn Kg</th>
        <th>Greige Kg</th>
        <th>Finished Kg</th>
        <th>spinFty</th>
        <th>knitFty</th>
        <th>dyeingFty</th>
        <th>No.Of Days</th>
        <th>Status</th>
        <th colspan="2">Roll Total</th>
        <th colspan="2">Greige Total</th>
        <th colspan="2">Dye Total</th>
        <th colspan="2">finished Total</th>
        <th colspan="2">Delivery Total</th>
        <th colspan="2">Plan Cut</th>
        <th colspan="2">Actual Cut</th>
        <th>Print Status</th>
        <th>Edit</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th>Roll</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let work of this.data; let i=index" (click)="check(work.id)">

        <td data-toggle="modal" data-target="#myModal">{{i+1}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.buyer}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.orderNo}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.style}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.color}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.size}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.fabType}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.fabDia}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.fabGsm}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.knitSL}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.yarnType}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.yarnKg}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.greigeKg}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.finishKg}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.spinFty}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.knitFty}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.dyeinFty}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.noDays}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.status === 1 ? 'Open' : 'Close'}}</td>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_1 || 0}}</td>
        <td data-toggle="modal" data-target="#myModal">{{work.total_1}}</td>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_2 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_2}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_3 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_3}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_4 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_4}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_5 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_5}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_6 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_6}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.totalRolls_7 || 0}}</td>
        <th data-toggle="modal" data-target="#myModal">{{work.total_7}}</th>

        <td data-toggle="modal" data-target="#myModal">{{work.isPrint}}</td>

        <td><button class="btn btn-primary" data-toggle="modal" data-target="#edit"
            (click)="edit(work.id)">Edit</button></td>
      </tr>

    <tbody>
  </table>
</div>
<!---===========================================================================================================-->

<ngx-spinner *ngIf="LoadingTotal">Loading...!</ngx-spinner>

<!---===========================================================================================================-->

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div style="table-layout: fixed;">
          <table id="table-data" class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th></th>
                <th colspan="4">FirstrollWeight</th>
                <th colspan="4">GriegeFab</th>
                <th colspan="4">DyeBatching</th>
                <th colspan="4">DyeFinish</th>
                <th colspan="4">DeliverytoGarmenth</th>
                <th colspan="4">PlanCutPanels</th>
                <th colspan="4">ActualCutPanels</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

              <tr>
                <th>Sl.No</th>
                <th>WONo</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>KGS</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>KGS</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>KGS</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>KGS</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>KGS</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>Pcs</th>
                <th>Date</th>

                <th>No.Of Days</th>
                <th>No.Of Rolls</th>
                <th>Pcs</th>
                <th>Date</th>

                <th>PcsperBundle</th>
                <th>PlannedBundles</th>
                <th>ActualBundles </th>
                <th>PrintStatus</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of newfabEntry">
                <td>{{i}}</td>

                <td>{{fabentrydata1[i - 1]?.workorderId}}</td>
                <td>{{fabentrydata1[i - 1]?.days}}</td>
                <td>{{fabentrydata1[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata1[i - 1]?.entry_1 || 0}}</td>
                <td>{{fabentrydata1[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata2[i - 1]?.days}}</td>
                <td>{{fabentrydata2[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata2[i - 1]?.entry_2 || 0}}</td>
                <td>{{fabentrydata2[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata3[i - 1]?.days}}</td>
                <td>{{fabentrydata3[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata3[i - 1]?.entry_3 || 0}}</td>
                <td>{{fabentrydata3[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata4[i - 1]?.days}}</td>
                <td>{{fabentrydata4[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata4[i - 1]?.entry_4 || 0}}</td>
                <td>{{fabentrydata4[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata5[i - 1]?.days}}</td>
                <td>{{fabentrydata5[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata5[i - 1]?.entry_5 || 0}}</td>
                <td>{{fabentrydata5[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata6[i - 1]?.days}}</td>
                <td>{{fabentrydata6[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata6[i - 1]?.entry_6 || 0}}</td>
                <td>{{fabentrydata6[i - 1]?.production_date || '-'}}</td>

                <td>{{fabentrydata7[i - 1]?.days}}</td>
                <td>{{fabentrydata7[i - 1]?.noOfRolls || 0}}</td>
                <td>{{fabentrydata7[i - 1]?.entry_7 || 0}}</td>
                <td>{{fabentrydata7[i - 1]?.production_date || '-'}}</td>

                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="modal-footer" style="display: flex;">

        <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 40%;">Close</button>
        <button class="btn btn-primary" (click)="exportexcel()" style="display: flex; justify-content: lefts;">
          Download File
        </button>
      </div>
    </div>
  </div>
</div>
<!---===========================================================================================================-->
<form [formGroup]="woUpdateFrom">
  <div class="modal fade" id="edit">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="display: flex; margin-left: 45%;">Update WorkOrder</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div>
            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">Buyer : </label>
                <input type="text" matInput formControlName="buyer">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">Order No : </label>
                <input type="text" matInput formControlName="orderNo">
              </div>
            </div>


            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">style : </label>
                <input type="text" matInput formControlName="style">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">color : </label>
                <input type="text" matInput formControlName="color">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">size : </label>
                <input type="text" matInput formControlName="size">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">fabType : </label>
                <input type="text" matInput formControlName="fabType">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">fabDia : </label>
                <input type="text" matInput formControlName="fabDia">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">fabGsm : </label>
                <input type="text" matInput formControlName="fabGSM">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">knitSL : </label>
                <input type="text" matInput formControlName="knitSL">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">yarn Kg : </label>
                <input type="text" matInput formControlName="yarnLot">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">Greige Kg : </label>
                <input type="text" matInput formControlName="yarnType">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">Finished Kg : </label>
                <input type="text" matInput formControlName="yarnCount">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">spinFty : </label>
                <input type="text" matInput formControlName="spinFty">
              </div>
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">knitFty : </label>
                <input type="text" matInput formControlName="knitFty">
              </div>
            </div>

            <div style="display: flex; justify-content: space-around; margin-bottom: 2%;">
              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">dyeingFty : </label>
                <input type="text" matInput formControlName="dyeinFty">
              </div>

              <div style="display: flex; width : fit-content;">
                <label style="display: inline-block; width: 100px;">No Of Days : </label>
                <input type="text" matInput formControlName="noRolls" readonly>
              </div>
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
              <label style="display: inline-block; width: 100px;" for="status">Status : </label>
              <select id="status" class="form-control" formControlName="status">
                <option value="1">Open</option>
                <option value="0">Close</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="display: flex; margin-right: 45%;"
            (click)="woupdatesubmit()" data-dismiss="modal">Update</button>
          <!-- data-dismiss="modal" -->
        </div>

      </div>
    </div>
  </div>
</form>