<mat-toolbar style="display: flex; justify-content: center; height: 10vh;">

  <div style="flex: 1 1 auto;"></div>
  <div style="display: flex; gap: 10px; ">
    <div style="display: flex; gap: 10px; ">

      <!-- <input class="form-control me-2" type="search" placeholder="Buyer Search" aria-label="Search"
        [(ngModel)]="buyerName" (change)="woByBuyer()" list="BuyerSearch">
      <datalist id="BuyerSearch">
        <option *ngFor="let data of buyers;" [value]="data.buyer">{{data.buyer}}</option>
      </datalist> -->

      <p-dropdown [options]="buyers" [(ngModel)]="buyerName" placeholder="Buyer" optionLabel="buyer"
      optionValue="buyer" (onChange)="woByBuyer()" autoWidth="false"
      [style]="{ minWidth: '22vh', minHeight:'2vh' }" [editable]="true" ></p-dropdown>

      <!-- <input class="form-control me-2" type="search" placeholder="Order Search" aria-label="Search"
        [(ngModel)]="ordernumbers" (change)="wobyOrder()" list="Order">
      <datalist id="Order">
        <option *ngFor="let data of this.order;" [value]="data.orderNO">{{data.orderNO}}</option>
      </datalist> -->

      <p-dropdown [options]="order" [(ngModel)]="ordernumbers" placeholder="OrderNo" optionLabel="orderNO"
      optionValue="orderNO" (onChange)="wobyOrder()" autoWidth="false"
      [style]="{ minWidth: '22vh', minHeight:'2vh' }" [editable]="true" ></p-dropdown>

    </div>

  </div>

  <button mat-button color='primary' (click)="exportexcel2()"><mat-icon>download</mat-icon>
    Download</button>
  <button mat-button color='primary' (click)="fabricEntry()">New</button>

</mat-toolbar>

<!---===========================================================================================================-->

<div class="table-wrapper">
  <table id="table-data2" class="fl-table">
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Buyer</th>
        <th>OrderNo</th>
        <th>Yarn Kg</th>
        <th>Greige Kg</th>
        <th>Finished Kg</th>
        <th>Order Pcs</th>
        <th>Order Value</th>
        <th>status</th>

        <th>Entry</th>
        <th>Edit</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let work of this.data; let i=index">

        <td>{{i+1}}</td>
        <td>{{work.buyer}}</td>
        <td>{{work.orderNo}}</td>
        <td>{{work.yarnKg}}</td>
        <td>{{work.greigeKg}}</td>
        <td>{{work.finishKg}}</td>
        <td>{{work.orderPcs}}</td>
        <td>{{work.ordervalue}}</td>

        <td>{{work.status === 1 ? 'Open' : 'Close'}}</td>



          <td><button class="btn btn-warning" (click)="woLineDetails(work.orderNo)"><mat-icon>content_paste</mat-icon>
          </button></td>

        <td><button class="btn btn-primary" (click)="edit(work.orderNo)"><mat-icon>edit</mat-icon></button></td>

        <td><button class="btn btn-success" (click)="Report(work.id , i)"><mat-icon>insert_drive_file</mat-icon>
        </button></td>
        <!-- <td><button class="btn btn-danger" (click)="delete(work.id)"><mat-icon>delete</mat-icon></button></td> -->
      </tr>

    <tbody>
  </table>
</div>

<!---===========================================================================================================-->

<ngx-spinner *ngIf="LoadingTotal">Loading...!</ngx-spinner>

<!---===========================================================================================================-->

<p-dialog [resizable]="true" [modal]="true" [maximizable]="true" [(visible)]="visibleEntry" [style]="{width: '90vw'}"
  [contentStyle]="{height: '90vh'}" header="Fabric Entry">
  <fieldset>
    <div id="print">
    <legend>Buyer : {{this.woBuyervalue}} / OrderNo : {{this.woorderNovalue}} </legend>
    <div class="tableoverall">
      <table class="table table-striped" id="table-data">
        <thead class="thead-dark">
          <tr>
            <th style="display: none;">Buyer</th>
            <th style="display: none;">OrderNo</th>
            <th>Style</th>
            <th>Color</th>
            <th>GSize</th>

            <th>FSize</th>
            <th>FabDia</th>
            <th>FabGsm</th>

            <th>KnitSL</th>
            <th>Yarn Type</th>
            <th>FabType</th>

            <th>Dye Type</th>
            <th>SpinFty</th>
            <th>KnitFty</th>

            <th>DyeinFty</th>
            <th>OrderPcs</th>
            <th>OrderFOBRate</th>

            <th>KnitRate</th>
            <th>DyeRate</th>
            <th>YarnKg</th>

            <th>GreigeKg</th>
            <th>FinishKg</th>

            <th>Fabric Report</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.data2; let i = index;" style="width: auto;">
            <td style="display: none;">{{data.buyer}}</td>
            <td style="display: none;">{{data.orderNo}}</td>
            <td>{{data.style}}</td>
            <td>{{data.color}}</td>
            <td>{{data.size}}</td>

            <td>{{data.FSize}}</td>
            <td>{{data.fabDia}}</td>
            <td>{{data.fabGsm}}</td>

            <td>{{data.knitSL}}</td>
            <td>{{data.yarnType}}</td>
            <td>{{data.fabType}}</td>

            <td>{{data.dyetype}}</td>
            <td>{{data.spinFty}}</td>
            <td>{{data.knitFty}}</td>

            <td>{{data.dyeinFty}}</td>
            <td>{{data.orderPcs}}</td>
            <td>{{data.orderFOBRate}}</td>

            <td>{{data.knitRate}}</td>
            <td>{{data.dyeRate}}</td>
            <td>{{data.yarnKg}}</td>

            <td>{{data.greigeKg}}</td>
            <td>{{data.finishKg}}</td>

            <td><button class="btn btn-success"
                (click)="fabricreport(data)"><mat-icon>insert_drive_file</mat-icon></button></td>

          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </fieldset>

  <ng-template pTemplate="footer">
    <button mat-button color="primary" (click)="exportexcel()" style="display: flex; justify-content: lefts;">
      <mat-icon>download</mat-icon> Download File</button>
  </ng-template>
</p-dialog>

<!---===========================================================================================================-->

<p-dialog [resizable]="true" [modal]="true" [maximizable]="true" [(visible)]="visible" [style]="{width: '90vw'}"
  [contentStyle]="{height: '90vh'}" [formGroup]="buyerorderform" header="Fabric Booking">
  <fieldset>
    <legend>Buyer : {{this.woBuyervalue2}} / OrderNo : {{this.woorderNovalue2}} </legend>
    <div class="tableoverall">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th><Button class="btn btn-primary" (click)="add1button()">+</Button></th> -->
             <th style="display: none;">Buyer</th>
             <th style="display: none;">OrderNo</th>
            <th>Style</th>
            <th>Color</th>
            <th>GSize</th>

            <th>FSize</th>
            <th>FabDia</th>
            <th>FabGsm</th>
            <th>KnitSL</th>

            <th>Yarn Type</th>
            <th>FabType</th>
            <th>Dye Type</th>

            <th>SpinFty</th>
            <th>KnitFty</th>
            <th>DyeinFty</th>

            <th>OrderPcs</th>
            <th>OrderFOBRate</th>
            <th>KnitRate</th>
            <th>DyeRate</th>

            <th>YarnKg</th>
            <th>GreigeKg</th>
            <th>FinishKg</th>

            <th>Status</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody formArrayName="data">
          
          <tbody formArrayName="data">
            <tr *ngFor="let process of items.controls; let i=index" [formGroupName]="i">

              <td style="display: none;"><input style="width: 15vh;" formControlName="Buyer" (input)="buyervalue(i)" list="buyer"
                (change)="buyerdata()" class="form-control">
              <datalist id="buyer">
                <option *ngFor="let data of this.buyersDta" value="{{data.buyer}}">{{data.buyer}}</option>
              </datalist>
            </td>
  
            <td style="display: none;"><input style="width: 15vh;" formControlName="OrderNo" list="order" (input)="ordervalue(i)"
                (change)="orderdata()" class="form-control" (mouseenter)="buyervalue(i)">
              <datalist id="order">
                <option *ngFor="let data of this.orderNoDta" value="{{data.orderNo}}">{{data.orderNo}}</option>
              </datalist>
            </td>
  
              <td><input style="width: 15vh;" formControlName="Style" list="Style" (input)="stylevalue(i)"
                (change)="styledata()" class="form-control" (mouseenter)="ordervalue(i)">
            <datalist id="Style">
              <option *ngFor="let data of this.styleDta" value="{{data.style}}">{{data.style}}</option>
            </datalist>
  
            <td><input style="width: 15vh;" formControlName="Color" list="Color" (input)="colorvalue(i)"
                (change)="colordata()" (change)="RejTypeLoss(i)" (change)="colorprocessloss(i)" class="form-control" (mouseenter)="stylevalue(i)">
              <datalist id="Color">
                <option *ngFor="let data of this.colorDta" value="{{data.color}}">{{data.color}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="Size" list="GSize" (input)="sizevalue(i)"
                (change)="sizedata(i)" (change)="PODetailsLoss(i)" class="form-control" (mouseenter)="colorvalue(i)"></td>
            <datalist id="GSize">
              <option *ngFor="let data of this.sizeDta" value="{{data.size}}">{{data.size}}</option>
            </datalist>
  
            <td><input style="width: 15vh;" formControlName="FSize" list="FSize" (input)="fsizevalue(i)"
                (change)="fsizedata()" class="form-control"></td>
            <datalist id="FSize">
              <option *ngFor="let data of this.fsizeDta" value="{{data.machineDia}}">{{data.machineDia}}</option>
            </datalist>
  
            <td><input style="width: 15vh;" formControlName="FabDia" list="FabDia" (input)="fabdiavalue($event)" class="form-control">
              <datalist id="FabDia">
                <option *ngFor="let data of this.fabdiaDta" value="{{data.FabDia}}">{{data.FabDia}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="FabGsm" list="FabGsm" (input)="fabdiavalue($event)" class="form-control">
              <datalist id="FabGsm">
                <option *ngFor="let data of this.fabGsmDta" value="{{data.FabGsm}}">{{data.FabGsm}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="KnitSL" type="number" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="YarnType" list="YarnType" class="form-control">
              <datalist id="YarnType">
                <option *ngFor="let data of this.yarntypedta" value="{{data.yarntype}}">{{data.yarntype}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="FabType" list="FabType" (input)="fabrictypeIdvalue($event)" class="form-control"></td>
            <datalist id="FabType">
              <option *ngFor="let data of this.fabricstypedta" value="{{data.fabricstype}}">{{data.fabricstype}}</option>
            </datalist>
  
            <td><input style="width: 15vh;" formControlName="dyetype" list="DyeType" class="form-control">
              <datalist id="DyeType">
                <option *ngFor="let data of this.dyetypedta" value="{{data.dyeType}}">{{data.dyeType}}</option>
              </datalist>
            </td>
  
  
            <td><input style="width: 15vh;" formControlName="SpinFty" list="SpinFty" (input)="SpinFtyIdvalue($event,i)" class="form-control">
              <datalist id="SpinFty">
                <option *ngFor="let data of this.spinftydta" value="{{data.SpinFtyName}}">{{data.SpinFtyName}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="KnitFty" list="KnitFty" (input)="KnitFtyIdvalue($event,i)" class="form-control">
              <datalist id="KnitFty">
                <option *ngFor="let data of this.knitFtydta" value="{{data.knitFty}}">{{data.knitFty}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="DyeinFty" list="dyeFty" (input)="DyeinFtyIdvalue($event , i)" class="form-control">
              <datalist id="dyeFty">
                <option *ngFor="let data of this.dyeFtydta" value="{{data.dyeFty}}">{{data.dyeFty}}</option>
              </datalist>
            </td>
  
            <td><input style="width: 15vh;" formControlName="OrderPcs" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="OrderFOBRate" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="KnitRate" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="DyeRate" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="YarnKg" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="GreigeKg" class="form-control"></td>
  
            <td><input style="width: 15vh;" formControlName="FinishKg" class="form-control"></td>

            <td> <p-dropdown [options]="[{ 'name': 'True', 'id':1 }, { 'name': 'False', 'id': 0 }]"
                placeholder="Select a Status" formControlName="status" optionLabel="name" optionValue="id"></p-dropdown>
            </td>

            <td><button (click)="Delete(i)" style="background-color: red; color: white;">x</button></td>



          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

  <ng-template pTemplate="footer">
    <div style="display: flex; width: 100%; justify-content: center;">
      <button (click)="woupdatesubmit()" mat-button color="primary"><mat-icon>save</mat-icon>Update</button>
    </div>
  </ng-template>
</p-dialog>

<!-- <!====================================================================================================> -->

<p-dialog [resizable]="true" [modal]="true" [maximizable]="true" [(visible)]="FabricBookingReport" [style]="{width: '90vw'}"
  [contentStyle]="{height: '90vh'}" [formGroup]="buyerorderform" header="Fabric Booking Report">


  <div>

    <div style="display: flex; margin-top: 1%; flex-wrap: wrap;" *ngFor="let data of this.headerData;">

        <div style="display: flex;">
            <label style="display: inline-block; width: 16vh; border: none;" class="form-control">Buyer </label>
            <input type="text" class="form-control" value="{{data.buyer}}" readonly  style="width: 20vh;">
        </div>

        <div style="display: flex;">
            <label style="display: inline-block; width: 16vh; border: none;" class="form-control">PO No </label>
            <input type="text" class="form-control" value="{{data.orderNo}}" readonly  style="width: 20vh;">
        </div>

        <div style="display: flex;">
            <label style="display: inline-block; width: 16vh; border: none;" class="form-control">Creation Date </label>
            <input type="text" class="form-control" style="width: 20vh;" value="{{data.created_date}}" readonly>
        </div>

        <div style="display: flex;">
            <label style="display: inline-block; width: 16vh; border: none;" class="form-control">Revision Date </label>
            <input type="text" class="form-control" style="width: 20vh;" value="{{data.revised_date}}" readonly>
        </div>

        <div style="display: flex;">
            <label style="display: inline-block; width: 16vh; border: none;" class="form-control">FB No </label>
            <input type="text" class="form-control" style="width: 20vh;" readonly>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------->
    <div>

        <div *ngFor="let data of this.headerdatavalue; let i = index">
            <fieldset>
                <legend>{{i+1}}. Style : {{data.style}}</legend>

                <div *ngFor="let dataItem of parseHeaders(data)">
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Order Qty</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.poQuantity}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Fab Type</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.fabricType}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Ship Date</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.ship_date}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Fab Process</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.dyeType}}">
                    </div>
                  </div>
                
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Garment</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.utility}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Fab GSM</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.fabricGSM}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Packing Sys</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.packingType}}">
                    </div>
                
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 20vh; border: none;" class="form-control">Yarn Type</label>
                      <input type="text" class="form-control" style="width: 20vh;" readonly value="{{dataItem.yarnType}}">
                    </div>
                  </div>
                
                  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <div style="display: flex; gap: 10px;">
                      <label style="display: inline-block; width: 40vh; border: none;" class="form-control">Avg Consumpsion</label>
                      <input type="text" class="form-control" readonly>
                    </div>
                  </div>
                </div>
                
                <!-------------------------------------------------------------------------------------------------->

                <fieldset>
                    <legend>Garments Breakdown Size wise Quantity</legend>

                    <div  *ngFor="let dataItem1 of parseheaders4(data)">
                        <table class="table table-bordered">
                            <thead class="thead-dark" >
                                <tr>
                                    <th rowspan="2">Color</th>
                                    
                                    <th *ngFor="let dataItem5 of dataItem1.sizes">{{dataItem5.size}}</th>

                                    <th>Total / Pcs</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let dataItem2 of dataItem1.colors ; let i = index">
                                    <td>{{dataItem2.color}}</td>
                                    
                                    <td *ngFor="let dataItem5 of dataItem1.sizes">{{dataItem5.entry[i]}}</td>
                                
                                    <td>{{dataItem2.total}}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th style="background-color: #343a40; color: #fff;">Total</th>
                                  
                                  <th *ngFor="let dataItem5 of dataItem1.sizes">{{dataItem5.total}}</th>
                                  <th> </th>

                                </tr>
                            </thead>
                        </table>
                    </div>


                </fieldset>

                <!-------------------------------------------------------------------------------------------------->

                <fieldset>
                    <legend>Finish Fabric Requirement</legend>

                    <div *ngFor="let dataItem3 of parseheaders5(data)">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="thead-dark">
                                    <th>F Size</th>
                                    <th *ngFor="let data4 of dataItem3.sizes">{{data4.size}}</th>
                                    <th rowspan="3">Total / Kgs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data4 of dataItem3.colors; let i = index">
                                    <td>{{data4.color}}</td>
                                    <td *ngFor="let data4 of dataItem3.sizes;">{{data4.entry[i]}}</td>
                                    <td>{{data4.total}}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <th style="background-color: #343a40; color: #fff;">Total</th>
                                <td *ngFor="let data4 of dataItem3.sizes; let i = index">{{data4.total}}</td>
                                
                            </thead>
                        </table>
                    </div>


                </fieldset>

                <!-------------------------------------------------------------------------------------------------->

                <fieldset>
                    <legend>Greige Fabric Requirement</legend>

                    <div *ngFor="let dataItem3 of parseheaders6(data)">
                      <table class="table table-bordered">
                        <thead>
                            <tr class="thead-dark">
                                <th>F Size</th>
                                <th *ngFor="let data4 of dataItem3.sizes">{{data4.size}}</th>
                                <th rowspan="3">Total / Kgs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data4 of dataItem3.colors;let i = index">
                                <td>{{data4.color}}</td>
                                <td *ngFor="let data4 of dataItem3.sizes;">{{data4.entry[i]}}</td>
                                <td>{{data4.total}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <th style="background-color: #343a40; color: #fff;">Total</th>
                            <td *ngFor="let data4 of dataItem3.sizes; let i = index">{{data4.total}}</td>
                            
                        </thead>
                    </table>
                    </div>


                </fieldset>


            </fieldset>

        </div>


    </div>
</div>


  </p-dialog>