th,tr,td { 
    text-align: center;
    font-weight: normal;
}
thead{
    position: sticky;
    top: 0;
}
::ng-deep .form-control{
    border: 1px solid black;
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
  }
  