<mat-toolbar style="display: flex; justify-content: center; height: 7vh;">
    <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div style="flex: 1 1 auto;"></div>
    <button mat-button color="primary" (click)="new()">New</button>
</mat-toolbar>
<table class="table table-sm  text-center">
    <thead class="thead-dark">
        <tr>
            <th>S.No</th>
            <th>Event</th>
            <th>Api Link</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of this.eventsData; let i = index;">
            <td>{{i+1}}</td>
            <td>{{data.events}}</td>
            <td>{{data.links}}</td>
            <td><button class="btn btn-primary" (click)="edit(data.id)"> <mat-icon>edit</mat-icon> </button></td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------New [Start]--------------------------------------------------->
<p-dialog header="New Event Master" [modal]="true" [(visible)]="eventmasternew" [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [formGroup]="EventMasterNewFrom">
    <div style="display: flex; gap: 10px;">
        <mat-form-field appearance="outline">
            <mat-label>Event</mat-label>
            <input matInput type="text" formControlName="eventData">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Api Link</mat-label>
            <input matInput type="text" formControlName="apiLink">
        </mat-form-field>
    </div>
    <ng-template pTemplate="footer">
        <div style="display: flex; width: 100%; justify-content: center;">
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </ng-template>
</p-dialog>
<!----------------------------------------------New [End]--------------------------------------------------->

<!----------------------------------------------Edit [Start]--------------------------------------------------->
<p-dialog header="Edit Event Master" [modal]="true" [(visible)]="eventmasteredit" [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [formGroup]="EventMasterEditFrom">
    <div style="display: flex; gap: 10px;">
        <mat-form-field appearance="outline">
            <mat-label>Event</mat-label>
            <input matInput type="text" formControlName="eventData">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Api Link</mat-label>
            <input matInput type="text" formControlName="apiLink">
        </mat-form-field>
    </div>
    <ng-template pTemplate="footer">
        <div style="display: flex; width: 100%; justify-content: center;">
            <button class="btn btn-success" (click)="update()">Update</button>
        </div>
    </ng-template>
</p-dialog>
<!----------------------------------------------Edit [End]--------------------------------------------------->