th,tr,td{
    font-weight: normal;
    text-align: center;
    
}
::ng-deep .modal-backdrop.show {
    display: contents;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    -moz-appearance: textfield;
}
.YarnReportScrol{
    display: block;
    height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
}
thead {
    position: sticky;
    top: 0;
  }

.option1{
    display: flex; gap : 10px
}

.option2{
    display: none;
}

@media screen and (max-width: 600px) {
    .option1{
     display: none;
    }
    
    .option2{
        display: contents;
    }   
}