<mat-toolbar style="display: flex; justify-content: center; height: 7vh;">
    <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div style="flex: 1 1 auto;"></div>
    <button mat-button color="primary" (click)="new()">New</button>
</mat-toolbar>
<table class="table table-sm text-center">
    <thead class="thead-dark">
        <tr>
            <th>S.No</th>
            <th>Style</th>
            <th>Events</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of this.styleEventData; let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.style}}</td>
            <td>
                <details>
                    <summary>Events</summary>
                    <ul style="text-align: justify;">
                        <div class="events">
                            <li *ngFor="let event of dataJson(data.events)">
                                {{event.events}}
                            </li>
                        </div>
                    </ul>
                </details>
            </td>
            <td><button class="btn btn-primary" (click)="edit(data.id)"> <mat-icon>edit</mat-icon> </button></td>
        </tr>
    </tbody>
</table>

<!----------------------------------------------New [Start]--------------------------------------------------->
<p-dialog header="New Event Master" [modal]="true" [(visible)]="styleeventmasternew" [style]="{ width: '90rem', height: '80%' }"
    [breakpoints]="{ '2000px': '75vw', '575px': '90vw' }" [formGroup]="StyleEventsNewForm">
    <div style="display: flex; gap: 10px; flex-wrap: wrap;justify-content: center; align-items: center; ">
        <mat-form-field appearance="outline">
            <mat-label>style</mat-label>
            <mat-select formControlName="style" [(ngModel)]="Stylenamevalue" (selectionChange)="getstyleId()">
                <mat-option *ngFor="let style of this.styleDropdata" value="{{style.style}}">{{style.style}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="tablecss" style="margin-top: 1%;display: flex; justify-content: center;" >
        <table class="table table-hover" style="width: 60%;">
                <thead class="thead-dark" [class.mat-elevation-z8]="true">
                <tr>
                        <th><button class="btn btn-primary" (click)="addRow()">+</button></th>
                        <th>Serial No.</th>
                        <th>Events</th>
                </tr>
                </thead>
                <tbody formArrayName="data">
                                <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
                                        <td>{{i+1}}</td>
                                        <td>
                                                <input type="text" class="form-control" formControlName="serialNo" style="width :200px">
                                        </td>
                                        <td>
                                                <!-- <input type="text" class="form-control" formControlName="eventname"> -->
                                                <p-dropdown #events [options]="DummyData" optionLabel="events" optionValue="id"
                                                (onChange)="getSelectedEvents(i)" [editable]="true"
                                                formControlName="eventname" (click)="eventslist(i)"></p-dropdown>
                                        </td>
                                </tr>
                </tbody>
        </table>
</div>
<mat-toolbar style="height: auto; display: flex; width: 100%; justify-content: center;">
        <button class="btn btn-primary" (click)="save()" *ngIf="!valueExceeded">Save</button>
        <button class="btn btn-primary" *ngIf="valueExceeded">Loading</button>
</mat-toolbar>

</p-dialog>
<!----------------------------------------------New [End]--------------------------------------------------->

<!----------------------------------------------Edit [Start]--------------------------------------------------->
<p-dialog header="Edit Event Master" [modal]="true" [(visible)]="styleeventmasteredit" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"[formGroup]="StyleEventsEditForm" >
    <div style="display: flex; gap: 10px; flex-wrap: wrap; ">
        <mat-form-field appearance="outline">
            <mat-label>style</mat-label>
            <mat-select formControlName="style" [(ngModel)]="Stylenamevalue" (selectionChange)="getstyleId()">
                <mat-option *ngFor="let style of this.styleDropdata" value="{{style.style}}">{{style.style}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Series no</mat-label>
            <input matInput type="text" formControlName="serialNo">
        </mat-form-field> -->

        <!-- <p-multiSelect [options]="DummyData" placeholder="Event"
        optionLabel="events"  optionValue="id" appendTo="body"  
        formControlName="eventname" (onChange)="getSelectedEventDetails()"/> -->

    </div>
    <ng-template pTemplate="footer">
        <div style="display: flex; width: 100%; justify-content: center;">
            <button class="btn btn-success" (click)="update()">Update</button>
        </div>
    </ng-template>
</p-dialog>
<!----------------------------------------------Edit [End]--------------------------------------------------->