<div [formGroup]="dye_Entery">
    
    <mat-toolbar>
        <span>
            Dye Batch Entry
        </span>
        <span style="flex: 1 1 auto;"></span>

        <div style="display: flex; gap: 10px; margin-top: 20px;">
            <div>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="dyeFactory">
                        <mat-option *ngFor="let data of this.factoryname;"
                            [value]="data.dyeinFty">{{data.dyeinFty}}</mat-option>
                    </mat-select>
                    <mat-label>Dye Factory</mat-label>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="batchNo">
                    <mat-label>Batch No</mat-label>
                </mat-form-field>
            </div>
        </div>

    </mat-toolbar>

    <mat-toolbar style="display: contents;">
        <div style="display: flex; justify-content: center;background-color: darkgray;">
            <div><Button class="btn btn-primary" (click)="dyesubmit()"> Save </Button></div>
        </div>
    </mat-toolbar>
    <div style="overflow: scroll; height:76vh;">

    <mat-toolbar style="display: inline-table;">
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">

            <div>
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex;">
                        <mat-toolbar style="display: inline-table;">
                            <div style="display: flex; gap: 10px; flex-wrap: wrap;">
                                <mat-form-field appearance="outline" (click)="clearAll()" style="margin-top: 4vh; ">
                                    <mat-label>Buyer</mat-label>
                                    <mat-select [(ngModel)]="buyerName" (selectionChange)="woByBuyer()"
                                        formControlName="buyer">
                                        <mat-option value=""> </mat-option>
                                        <mat-option *ngFor="let buyer of this.buyers"
                                            value="{{buyer.buyer}}">{{buyer.buyer}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="margin-top: 4vh; ">
                                    <mat-label>Order</mat-label>
                                    <mat-select [(ngModel)]="ordernumbers" (selectionChange)="wobyOrder()"
                                        formControlName="orderNo">
                                        <mat-option value=""> </mat-option>
                                        <mat-option *ngFor="let order of this.order"
                                            value="{{order.orderNO}}">{{order.orderNO}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="margin-top: 4vh; ">
                                    <mat-label>Style</mat-label>
                                    <mat-select [(ngModel)]="styleslist" (selectionChange)="wobystyle()"
                                        formControlName="style">
                                        <mat-option value=""> </mat-option>
                                        <mat-option *ngFor="let style of this.stylelist"
                                            value="{{style.style}}">{{style.style}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="margin-top: 4vh; ">
                                    <mat-label>color</mat-label>
                                    <mat-select [(ngModel)]="colorslist" (selectionChange)="wobycolor()"
                                        formControlName="color">
                                        <mat-option value=""> </mat-option>
                                        <mat-option *ngFor="let color of this.colorlist"
                                            value="{{color.color}}">{{color.color}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-toolbar>
                    </div>


                    <div>
                        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                            <mat-toolbar>

                                <mat-form-field appearance="outline" style="margin-top: 4vh; ;">
                                    <mat-label>Fabric Type</mat-label>
                                    <input type="text" formControlName="fabricType" matInput>
                                </mat-form-field>
                                <div style="display: flex; gap: 20px; flex-wrap: wrap;  margin-left: 1vh;">
                                    <div style="display: flex; gap: 10px;">
                                        <span style="font-size:15px; display: inline-block;">Softner (Y/N)</span>
                                        <div>
                                            <input type="checkbox" style="height: 20px; width: 20px; margin-top: 1vh;"
                                                formControlName="softner">
                                        </div>
                                    </div>

                                    <div style="display: flex; gap: 10px;">
                                        <span style="font-size:15px; display: inline-block;">Silicon (Y/N)</span>
                                        <div><input type="checkbox" style="height: 20px; width: 20px; margin-top: 1vh;"
                                                formControlName="silicon"></div>
                                    </div>

                                    <div style="display: flex; gap: 10px;">
                                        <span style="font-size:15px; display: inline-block;">Enzyme (Y/N)</span>
                                        <div><input type="checkbox" style="height: 20px; width: 20px; margin-top: 1vh;"
                                                formControlName="enzyme"></div>
                                    </div>
                                </div>
                            </mat-toolbar>
                        </div>
                    </div>
                </div>
            </div>
    <!--------------------------------------------->
            <div>
             
                    <div style="display: flex; justify-content: center; margin-top: 5px;">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="font-size:small;">Size</th>
                                    <th style="font-size:small;">Griege</th>
                                    <th style="font-size:small;">Finish</th>
                                    <th style="font-size:small;">Diff</th>
                                    <th style="font-size:small;">PL</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="data">
                                <tr *ngFor="let process of items.controls; let i=index" [formGroupName]="i">
                                    <td>
                                        <input type="text" formControlName="size" list="size" class="form-control" style="width: 15vh; display: inline;">
                                        <datalist id="size">
                                            <option *ngFor="let size of this.sizelist" value="{{size.size}}">{{size.size}}
                                            </option>
                                        </datalist>
                                    </td>
                                    <td><input type="number" class="form-control" formControlName="griege" style="width: 15vh; display: inline;">
                                    </td>
                                    <td><input type="number" class="form-control" formControlName="finish" style="width: 15vh; display: inline;">
                                    </td>
                                    <td><input type="number" class="form-control" formControlName="diff" readonly style="width: 15vh; display: inline;"></td>
                                    <td><input type="number" class="form-control" formControlName="PL" readonly style="width: 15vh; display: inline;"></td>
                                </tr>
                            </tbody>
                            <thead class="thead-dark">
                            <tr >
                                <th><span>Total</span></th>
                                <th><input type="number" class="form-control" readonly formControlName="GriegeTotal" style="width: 15vh; display: inline;"></th>
                                <th><input type="number" class="form-control" readonly formControlName="FinishTotal" style="width: 15vh; display: inline;"></th>
                                <th><input type="number" class="form-control" readonly formControlName="differenceTotal" style="width: 15vh; display: inline;"></th>
                                <th><input type="number" class="form-control" readonly formControlName="PLTotal" style="width: 15vh; display: inline;"></th>
                            </tr>
                        </thead>
                        </table>
                    </div>

            </div>

        </div>
    </mat-toolbar>
         <!--------------------------------------------------------------------------->
         <div>
            <div
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3%; margin-bottom: 3%; ">
                <!------------------------ Batch Entry [Start]--------------------------------------------------->
                <div>
                    <mat-card class="Batch-Entry1">
                        <mat-card-header>
                        <mat-card-title>
                            Batch Entry
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Batch Make
                                        Date</label>
                                    <input type="date" class="form-control" formControlName="batch_batchMakeDate">

                                </div>


                                <div style="display: flex; gap: 10px; ">

                                    <label class="form-control" style="border: none; display: inline-block;">Batch
                                        Rolls/SL Check</label>
                                    <textarea class="form-control" style="height: 50px;"
                                        formControlName="batch_batchRollsSLCheck"></textarea>
                                    <!-- <textarea class="form-control" style="height: 50px;" ></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!------------------------ Batch Entry [Ends]--------------------------------------------------->

                <!------------------------ Dyeing Process Entry [Start]--------------------------------------------------->
                <div style="margin-top: 2%;">
                    <mat-card class="Batch-Entry2">
                        <mat-card-header>
                        <mat-card-title>
                            Dyeing Process
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Load Date
                                        time</label>
                                    <input type="date" class="form-control" formControlName="dyeing_loadDatetime">

                                </div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Unloading
                                        Date Time</label>
                                    <input type="date" class="form-control" formControlName="dyeing_unloadingDateTime">

                                </div>

                                <div style="display: flex; gap: 10px; ">

                                    <label class="form-control" style="border: none; display: inline-block;"> Total Run
                                        Time</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="dyeing_totalRunTime"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">

                                    <label class="form-control" style="border: none; display: inline-block;">Receipe
                                        Chart (Picture)</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="dyeing_receipeChart"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!------------------------ Dyeing Process Entry [Ends]--------------------------------------------------->
            </div>

            <div
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3%; margin-bottom: 3%; ">
                <!------------------------------------Shade Check [Start] ------------------------------------------------------->
                <div>
                    <mat-card class="Shade-Check1">
                        <mat-card-header>
                        <mat-card-title>
                            Shade Check
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px; height: 60px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Lap
                                        Dip/Original/QTX</label>
                                    <textarea class="form-control" style="height: 50px;"
                                        formControlName="shade_lapDipOriginalQTX"></textarea>
                                    <!-- <textarea class="form-control" style="height: 50px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; height: 60px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Master
                                        Batch Check</label>
                                    <textarea class="form-control" style="height: 50px;"
                                        formControlName="shade_masterBatchCheck"></textarea>
                                    <!-- <textarea class="form-control" style="height: 50px;"></textarea> -->
                                </div>


                                <div style="display: flex; gap: 10px; height: 60px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Dye Unload
                                        Shade Check</label>
                                    <textarea class="form-control" style="height: 50px;"
                                        formControlName="shade_dyeUnloadShadeCheck"></textarea>
                                    <!-- <textarea class="form-control" style="height: 50px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Shade
                                        Submission Date</label>
                                    <input type="date" class="form-control" formControlName="shade_shadeSubmissionDate">
                                    <!-- <input type="time" class="form-control"> -->
                                </div>

                                <div style="display: flex; gap: 10px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Shade
                                        Approval Date</label>
                                    <input type="date" class="form-control" formControlName="shade_shadeApprovalDate">
                                    <!-- <input type="time" class="form-control"> -->
                                </div>

                                <div style="display: flex; gap: 10px; height: 60px;">
                                    <label class="form-control" style="border: none; display: inline-block;">First Batch
                                        Not Ok Reason</label>
                                    <textarea class="form-control" style="height: 50px;"
                                        formControlName="shade_firstBatchNotOkReason"></textarea>
                                    <!-- <textarea class="form-control" style="height: 50px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!------------------------------------Shade Check [Ends] ------------------------------------------------------->

                <!------------------------------------Squeezer [Start] ------------------------------------------------------->
                <div style="margin-top: 2%;">
                    <mat-card class="Shade-Check2">
                    <mat-card-header>
                        <mat-card-title>
                            Squeezer
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Squeezer
                                        data time</label>
                                    <input type="date" class="form-control" formControlName="squeezer_squeezerDateTime">
                                    <!-- <input type="time" class="form-control"> -->

                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">RPM
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="squeezer_rpmValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Trolley
                                        Plate (Auto/Manual)</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="squeezer_trolleyPlate"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Overfeed
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="squeezer_overfeedValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Padder
                                        Pressure Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="squeezer_padderPressureValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block; 
                                    width: 65vh;">Shape (Y/N)</label>
                                    <mat-checkbox formControlName="squeezer_shape"></mat-checkbox>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea>
                                <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;
                                    width: 65vh;">Back Angle (Y/N)</label>
                                    <mat-checkbox formControlName="squeezer_backAngle"></mat-checkbox>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea>
                                    <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!------------------------------------Squeezer [Ends] ------------------------------------------------------->
            </div>

            <div
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3%; margin-bottom: 3%;">
                <!---------------------------------------Dryer[ start ]--------------------------------------------------------->
                <div>
                    <mat-card class="Dryer1">
                    <mat-card-header>
                        <mat-card-title>
                            Dryer
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Dryer Date
                                        time</label>
                                    <input type="date" class="form-control" formControlName="dryer_dryerDatetime">
                                    <!-- <input type="time" class="form-control"> -->

                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Temperature
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="dryer_temperatureValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">RPM
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="dryer_rpmValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Overfeed
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="dryer_overfeedValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-------------------------------------------------Dryer[ Ends ]---------------------------------------------------->

                <!-------------------------------------------------Calender[ Start ]---------------------------------------------------->
                <div style="margin-top: 2%;">
                    <mat-card class="Dryer2">
                    <mat-card-header>
                        <mat-card-title>
                            Calendar
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px; height: 75px;">
                                    <label class="form-control" style="border: none; display: inline-block;">RPM
                                        Value</label>
                                    <textarea class="form-control" style="height: 60px;"
                                        formControlName="calendar_rpmValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 60px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Steam High
                                        / Low</label>
                                    <textarea class="form-control" style="height: 60px;"
                                        formControlName="calendar_steamHighLow"></textarea>
                                    <!-- <textarea class="form-control" style="height: 60px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3%; margin-bottom: 3%;">
                <div>
                    <mat-card class="Slitting1">
                    <mat-card-header>
                        <mat-card-title>
                            Slitting
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Slitting
                                        Date time</label>
                                    <input type="date" class="form-control" formControlName="slitting_slittingDatetime">
                                    <!-- <input type="time" class="form-control"> -->

                                </div>

                                <div style="display: flex; gap: 10px; height: 70px;">
                                    <label class="form-control" style="border: none; display: inline-block;">D Twister
                                        (Auto / Manual)</label>
                                    <textarea class="form-control" style="height: 60px;"
                                        formControlName="slitting_DTwister"></textarea>
                                    <!-- <textarea class="form-control" style="height: 60px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Trolley
                                        Plate (Auto/Manual)</label>
                                    <textarea class="form-control" style="height: 60px;"
                                        formControlName="slitting_trolleyPlate"></textarea>
                                    <!-- <textarea class="form-control" style="height: 60px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!--------------------------------------------------Stenter [Start]------------------------------------------------->
                <div style="margin-top: 2%;">
                    <mat-card class="Slitting2">
                    <mat-card-header>
                        <mat-card-title>
                            Stenter
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">

                                    <label class="form-control" style="border: none; display: inline-block;">Stenter
                                        Date time</label>
                                    <input type="date" class="form-control" formControlName="stenter_stenterDatetime">
                                    <!-- <input type="time" class="form-control"> -->

                                </div>

                                <div style="display: flex; gap: 10px; height: 70px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Temperature
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="stenter_temperatureValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Overfeed
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="stenter_overfeedValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Dia Setting
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="stenter_diasettingValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Softner /
                                        Silicon Usage ?</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="stenter_softnerSiliconUsage"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!--------------------------------------------------Stenter [Ends]------------------------------------------------->
            </div>

            <div
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3%; margin-bottom: 3%;">

                <!----------------------------------Open Compact [Start]--------------------------------------------------------->
                <div>
                    <mat-card class="Open-Compact1">
                    <mat-card-header>
                        <mat-card-title>
                            Open Compact
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Open
                                        Compact Date time</label>
                                    <input type="date" class="form-control"
                                        formControlName="compact_openCompactDatetime">
                                    <!-- <input type="time" class="form-control"> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">RPM
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="compact_rpmValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Overfeed
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="compact_overfeedValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Dia Setting
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="compact_diasettingValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Steam High
                                        / Low</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="compact_steamHighLow"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-----------------------------------------Open Compact [ Ends ]------------------------------------------------>
                <!-----------------------------------------Tubtex [ start ]------------------------------------------------>
                <div style="margin-top: 2%;">
                    <mat-card class="Open-Compact2">
                    <mat-card-header>
                        <mat-card-title>
                            Tubtex
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Tubtex Date
                                        time</label>
                                    <input type="date" class="form-control" formControlName="tubtex_tubtexDatetime">
                                    <!-- <input type="time" class="form-control"> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Yarn
                                        Lot</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="tubtex_yarnLot"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Overfeed
                                        Value</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="tubtex_overfeedValue"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Steam High
                                        / Low ?</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="tubtex_steamHighLow"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Roller
                                        Knife Setting ?</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="tubtex_rollerKnifeSetting"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;
                                    width: 45vh;">SideLoose/PileCheck (Y/N)</label>
                                    <!-- <textarea class="form-control" style="height: 30px;" formControlName="tubtex_sideLoosePileCheck"></textarea> -->
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                    <mat-checkbox formControlName="tubtex_sideLoosePileCheck"></mat-checkbox>
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;
                                    width: 45vh;">Dia / GSM Check (Y/N)</label>
                                    <!-- <textarea class="form-control" style="height: 30px; display: none;"></textarea> -->
                                    <!-- <textarea class="form-control" style="height: 30px; display: none;"></textarea> -->
                                    <mat-checkbox formControlName="tubtex_diaGSMCheck"></mat-checkbox>
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Shade
                                        (Light Box/DataColor)</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="tubtex_shadeLightBoxDataColor"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-----------------------------------------Tubtex [ Ends ]------------------------------------------------>
            </div>

            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 3%;  ">
                <!-----------------------------------------Final-Batch-Report [ Start ]------------------------------------------------>
                <div>
                    <mat-card class="Final-Batch-Report">
                    <mat-card-header>
                        <mat-card-title>
                            Final Batch Report
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Shrinkage /
                                        Twisting Report</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_shrinkageTwistingReport"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">GSM
                                        Report</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_GSMReport"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Roll-Roll
                                        Shade Check</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_rollRollShadeCheck"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Rubbing
                                        Report (Wet / Dry)</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_rubbingReportWetDry"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">PH Report
                                        (Inhouse Check)</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_phReportInhouseCheck"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Phenolic
                                        yellowing Test ?</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_phenolicYellowingTest"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">QC
                                        Inspection Report</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_qcInspectionReport"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Batch Rolls
                                        / Weight</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_batchRollsWeight"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Finish
                                        Rolls / Weight</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_finishRollsWeight"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px; ">
                                    <label class="form-control" style="border: none; display: inline-block;">Process
                                        Loss</label>
                                    <textarea class="form-control" style="height: 30px;"
                                        formControlName="finalbatch_processLoss"></textarea>
                                    <!-- <textarea class="form-control" style="height: 30px;"></textarea> -->
                                </div>

                                <div style="display: flex; gap: 10px;">
                                    <label class="form-control" style="border: none; display: inline-block;">Fabric
                                        Delivery Date time</label>
                                    <input type="date" class="form-control"
                                        formControlName="finalbatch_fabricDeliveryDatetime">
                                    <!-- <input type="time" class="form-control"> -->
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-----------------------------------------Final-Batch-Report [ Ends ]------------------------------------------------>
                <div style="margin-top: 2%;">
                    <mat-card class="Final-Batch-Report">
                    <mat-card-header>
                        <mat-card-title>
                            Batch Remarks
                        </mat-card-title>
                        <mat-card-subtitle>
                            Entry Details
                        </mat-card-subtitle>
                    </mat-card-header>
                        <mat-card-content>
                            <div>
                                <textarea class="form-control" style="height: 40vh; width: 60vh;"
                                    formControlName="batchRemarks"></textarea>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


        </div>

    </div>