<mat-toolbar color="primary">
  <mat-toolbar-row style="display: flex; justify-content: center;">
    <span>Fabric Roll Data</span>
  </mat-toolbar-row>
</mat-toolbar>
<cdk-accordion class="example-accordion">
  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
    style="display: flex; flex-direction: column; justify-content: center;">

    <div class="example-accordion-item-header" (click)="accordionItem.toggle()"
      style="display: flex; justify-content: center; gap: 0.5%; margin-top: 2%;">

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Buyer</mat-label>
        <mat-select [(ngModel)]="buyerName" (selectionChange)="onSelectionChange()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let buyer of this.buyers" value="{{buyer.buyer}}">{{buyer.buyer}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Order</mat-label>
        <mat-select [(ngModel)]="ordernumbers" (selectionChange)="onSelectionChange()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let order of this.order" value="{{order.orderNO}}">{{order.orderNO}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;" >
        <mat-label>Style</mat-label>
        <mat-select [(ngModel)]="styleslist" (selectionChange)="onSelectionChange()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let style of this.stylelist" value="{{style.style}}">{{style.style}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;" >
        <mat-label>color</mat-label>
        <mat-select [(ngModel)]="colorslist" (selectionChange)="onSelectionChange()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let color of this.colorlist" value="{{color.color}}">{{color.color}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;" >
        <mat-label>Size</mat-label>
        <mat-select [(ngModel)]="sizeslist" (selectionChange)="onSelectionChange()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let size of this.sizelist" value="{{size.size}}">{{size.size}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<!---===========================================================================================================-->
<div class="fixTableHead">
<table>
  <thead>
  <tr>
    <th>Sl.No</th>
    <th>Buyer</th>
    <th>Order No</th>
    <th>Style</th>
    <th>Color</th>
    <th>size</th>
    <th>fabType</th>
    <th>fabDia</th>
    <th>fabGsm</th>
    <th>finishedKg</th>
    <th>knitSL</th>
    <th>spinFty</th>
    <th>knitFty</th>
    <th>dyeingFty </th>
    <th>yarnQty</th>
    <th>noRolls</th>
    <th>PrintStatus</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let work of this.data; let i=index" data-toggle="modal" data-target="#myModal" (click)="check(work.id)">
    <td>{{i+1}}</td>
    <td>{{work.buyer}}</td>
    <td>{{work.orderNo}}</td>
    <td>{{work.style}}</td>
    <td>{{work.color}}</td>
    <td>{{work.size}}</td>
    <td>{{work.fabType}}</td>
    <td>{{work.fabDia}}</td>
    <td>{{work.fabGsm}}</td>
    <td>{{work.finishedKg}}</td>
    <td>{{work.knitSL}}</td>
    <td>{{work.spinFty}}</td>
    <td>{{work.knitFty}}</td>
    <td>{{work.dyeinFty}}</td>
    <td>{{work.yarnQty}}</td>
    <td>{{work.noRolls}}</td>
    <td>{{work.isPrint}}</td>
  </tr>
  <tbody>
</table>
</div>
<!---===========================================================================================================-->

<!---===========================================================================================================-->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
     <div class="modal-content">
        <div class="modal-body">
          <div style="overflow-x: auto; height: 100%;">
            <table id="table-data">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="2">FirstrollWeight</th>
                  <th colspan="2">GriegeFab</th>
                  <th colspan="2">DyeBatching</th>
                  <th colspan="2">DyeFinish</th>
                  <th colspan="2">DeliverytoGarmenth</th>
                  <th colspan="2">PlanCutPanels</th>
                  <th colspan="2">ActualCutPanels</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
          
                <tr>
                  <td><b>Sl.No</b></td>
                  <th>WONo</th>
                  <th>RollNo</th>
                  <th>FabBarcode</th>
                  <th>FabBatchNo</th>
          
                  <th>KGS</th>
                  <th>Date</th>
          
                  <th>KGS</th>
                  <th>Date</th>
          
                  <th>KGS</th>
                  <th>Date</th>
          
                  <th>KGS</th>
                  <th>Date</th>
          
                  <th>KGS</th>
                  <th>Date</th>
          
                  <th>Pcs</th>
                  <th>Date</th>
          
                  <th>Pcs</th>
                  <th>Date</th>
          
                  <th>PcsperBundle</th>
                  <th>PlannedBundles</th>
                  <th>ActualBundles </th>
                  <th>PrintStatus</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fab of this.dataSource; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{fab.workorderId}}</td>
                  <td>{{fab.rollNo}}</td>
                  <td>{{fab.fabBarcode}}</td>
                  <td>{{fab.batchNo}}</td>
                  <td>{{fab.entry_1}}</td>
                  <td>{{fab.entry_1At}}</td>
                  <td>{{fab.entry_2}}</td>
                  <td>{{fab.entry_2At}}</td>
                  <td>{{fab.entry_3}}</td>
                  <td>{{fab.entry_3At}}</td>
                  <td>{{fab.entry_4}}</td>
                  <td>{{fab.entry_4At}}</td>
                  <td>{{fab.entry_5}}</td>
                  <td>{{fab.entry_5At}}</td>
                  <td>{{fab.entry_6}}</td>
                  <td>{{fab.entry_6At}}</td>
                  <td>{{fab.entry_7}}</td>
                  <td>{{fab.entry_7At}}</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                
              <tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer" style="display: flex;">
    
           <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 40%;">Close</button>
           <button class="btn btn-primary" (click)="exportexcel()" style="display: flex; justify-content: lefts;">
            Download File
           </button>
          </div>
     </div>
  </div>
</div>
<!---===========================================================================================================-->
