<div [formGroup]="LineAllocationForm">
    <mat-toolbar style="height: auto;">
        <div>
            <button class="btn btn-danger" (click)="back()">Back</button>
        </div>
        <div style="display: flex; gap: 15px; width: 100%; justify-content: center;">
            <span>Line Allocation Creation</span>
        </div>
        <div style="flex: 1 1 auto;"></div>
    </mat-toolbar>



    <div class="tablecss">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="LineAllocationfun()">+</button></th>
                    <th>S.No</th>
                    <th>Buyer</th>
                    <th>Order</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>PO Ship Date</th>
                    <th>FRI Date</th>

                    <th>Order Pcs</th>
                    <th>Plan Qty</th>
                    <th>Line</th>
                    <th>Alloc Start Date</th>
                    <th>Days Reqd</th>
                    <th>Alloc End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>
                    <td>{{i+1}}</td>
                    <td>
                        <p-dropdown #buyername [options]="buyers" placeholder="Buyer" optionLabel="buyer"
                            (onChange)="getBuyerValue(i)" optionValue="buyer" [editable]="true"
                            [style]="{ minWidth: '8vh', minHeight:'2vh' }" formControlName="buyer"
                            (mouseenter)="getBuyerValue(i)" (click)="buyerlist(i)"></p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #orders [options]="order" placeholder="orderNO" optionLabel="orderNo"
                            (onChange)="ordervalue(i)" optionValue="orderNo" [editable]="true"
                            [style]="{ minWidth: '8vh', minHeight:'2vh' }" formControlName="orderno"
                            (mouseenter)="getBuyerValue(i)" (mouseenter)="ordervalue(i)" (click)="orderlist(i)"
                            (onChange)="ShipDate(i)"></p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #styles [options]="stylelist" placeholder="Style" optionLabel="style"
                            (onChange)="stylevalue(i)" optionValue="style" [editable]="true"
                            [style]="{ minWidth: '8vh', minHeight:'2vh' }" formControlName="style"
                            (mouseenter)="ordervalue(i)" (mouseenter)="stylevalue(i)" (onChange)="lineData(i)"
                            (click)="styleslist(i)"></p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #colors [options]="colorlist" placeholder="color" optionLabel="color"
                            optionValue="color" [editable]="true" [style]="{ minWidth: '8vh', minHeight:'2vh' }"
                            formControlName="color" (mouseenter)="stylevalue(i)" (click)="colorslist(i)"
                            (onChange)="OrderPcsData(i)" (input)="check()"
                             (onChange)="check()" (onChange)="dateworkhrs(i)"></p-dropdown>
                    </td>
                    <td><input type="date" class="form-control" formControlName="shipdate" style="width: 20vh;" (mouseenter)="check()"></td>
                    <td><input type="date" class="form-control" formControlName="fridate" style="width: 20vh;" (mouseenter)="check()"></td>
                    <td><input type="number" class="form-control" formControlName="orderpcs" (mouseenter)="check()"></td>
                    <td><input type="number" class="form-control" formControlName="planqty" (mouseenter)="check()"></td>
                    <td><input type="text" class="form-control" formControlName="line" list="list" (mouseenter)="check()" (onChange)="calculateEndDate4(i)" (input)="calculateEndDate4(i)"
                        (Change)="calculateEndDate4(i)" (mouseenter)="calculateEndDate4(i)" (onChange)="getstartdate(i, $event.value)" (input)="getstartdate(i, $event.target.value)">
                        <datalist id="list">
                            <option *ngFor="let data of this.linedropdata" [value]="data.line">{{data.line}}</option>
                        </datalist>
                    </td>
                    <td><input type="date" class="form-control" formControlName="startdate" style="width: 20vh;" (mouseenter)="check()"
                        (input)="dateworkhrs(i)"></td>
                    <td><input type="number" class="form-control" formControlName="daysreqd" (mouseenter)="check()"></td>
                    <td><input type="date" class="form-control" formControlName="enddate" style="width: 20vh;" readonly (mouseenter)="check()">
                    </td>
                    <td><button style="background-color: red; color: white;" (click)="delete(i)">x</button></td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex;">
            <div style="display: flex; justify-content: center; width: 100%;">
            <!-- <button class="btn btn-success" (click)="save()">Save</button> -->
            <button class="btn btn-success" (click)="save()" *ngIf="!valueExceeded">Save</button>
    
            <button class="btn btn-success" *ngIf="valueExceeded">Loading !!!</button>
        </div>
        </div>
    </div>
</div>