.header{
    
    padding: 8px 8px 8px 0;  
    /* background:  linear-gradient(-4deg, #662d91, transparent); */
    background-color: #662d91;
    background:  linear-gradient(135deg, white 0%, #662d91);
}
 
mat-sidenav-container{
    height: 81.5vh;
    border: none;
    background-color: white;
}
mat-sidenav{
    width: 280px;
    overflow: scroll;
    border-right: #662d91 4px solid;
    scrollbar-width: none;
    background-color: white;
}
.mat-list-item{
    height: 40px;
    margin-bottom: 4px;
}

.mat-list-item:hover{
    background-color: rgb(240, 240, 240);
}

.text{
    font-style: italic;
    font-size: 14px;
    margin-left: 12px;
}
.mat-list-item.active{
    
    color: white;
    
    text-transform: capitalize;
    text-align:right 29px;
    background-image: linear-gradient(to left, #662d91, #8d0466) !important;
    clip-path: none !important;
    border-radius: 0 8px 8px 0 !important;
    width: 120%;
    position: relative;
   .text{
       position: relative;
       
   }
  }

.nav-icon{
    margin-right: 14px; 
}

.header-icon{
    color: blueviolet;
}
.form-control{
    width: 25vw;
  }
  .form-control:focus {
    border-color: #662d91;
    box-shadow: 0 0 0 0.1rem rgba(74, 40, 167, 0.25);
    width: 28vw;
  } 

  .s-container{
    height:91vh
  }

  .flex-spacer{
    flex: 2 2 auto;
  }
  .menu:hover{
    font-size:large;
    color: yellow;
}
.exit:hover{
    font-size:large;
    color: red;
}

.menu1{
    display: flex; 
    gap: 20px;
}
.menu2{
    display: none;
}
.menulist1{
    display: none;
}
.menulist2{
    display: contents;
}
@media screen and (max-width: 600px) {
    .menu1{
        display: none;
    }
    .menu2{
        display: contents;
    }
    .menulist1{
        display: contents;
    }
    .menulist2{
        display: none;
    }

}

.text2{
    background-image: url(
'https://img.freepik.com/premium-vector/purple-sky-blue-soft-pastel-gradient-background-weeb-page-banner-background-gradient-template_919955-700.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: #662d91;    
    font-family: cursive;
    font-size: smaller;
}

.profile-container {
    width: 40px;
    margin: 14px;
    border-radius: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #662d91;
    cursor: pointer !important;
  }

  .profile-view {
    height: 50px;
    overflow: hidden;
    width: 50px;
    border-radius: 100%;
    background-color: #662d91;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
  }