<div [formGroup]="SewoutputEty">
    <mat-toolbar style="height: auto;">
        <div style="display: flex; gap: 15px; width: 100%; justify-content: center;">
            <span>Sewing Output Transfer</span>
        </div>
        <div style="flex: 1 1 auto;"></div>
        <div style="display: flex; gap: 10px; margin-top: 1vh;">

            <div style="display: flex; gap: 10px;">
                <label style="font-weight: normal; font-family: serif; margin-top: 5px;">Output Date</label>
                <input type="date" class="form-control" style="margin-top: 2px;" formControlName="outputDate">
            </div>

        </div>


    </mat-toolbar>
    <div class="tablecss">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="SewOutputEtyAddButton()">+</button></th>
                    <th>S.No</th>
                    <th>Buyer</th>
                    <th>Order no</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>G.Size</th>
                    <th>LineNo</th>
                    <th>MC Used</th>
                    <th>MP Used</th>
                    <th>MC Hrs</th>
                    <th>Output Pcs</th>
                    <th>TimePeriod</th>
                    <th>Bundleno</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>
                    <td>{{i+1}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="buyer" list="1"
                            (input)="getBuyerValue(i)" (change)="getorders()">
                        <datalist id="1">
                            <option *ngFor="let data of this.buyers" value="{{data.buyer}}">{{data.buyer}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input type="text" class="form-control" formControlName="orderNo" list="2"
                            (input)="ordervalue(i)" (mouseenter)="getBuyerValue(i)" (change)="orderdata()">
                        <datalist id="2">
                            <option *ngFor="let data of this.order" value="{{data.orderNo}}">{{data.orderNo}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input type="text" class="form-control" formControlName="style" list="3" (input)="stylevalue(i)"
                            (mouseenter)="ordervalue(i)" (change)="styledata()">
                        <datalist id="3">
                            <option *ngFor="let data of this.stylelist" value="{{data.style}}">{{data.style}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input style="width: 15vh;" formControlName="color" list="Color" (input)="colorvalue(i)"
                            (change)="colordata()" class="form-control" (mouseenter)="stylevalue(i)">
                        <datalist id="Color">
                            <option *ngFor="let data of this.colorlist" value="{{data.color}}">{{data.color}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input class="form-control" type="text" formControlName="size" list="size"
                            (mouseenter)="colorvalue(i)" (input)="getwoId($event.target.value,i)">
                        <datalist id="size">
                            <option *ngFor="let data of this.sizelist" value="{{data.size}}">{{data.size}}</option>
                        </datalist>
                    </td>


                    <td><input class="form-control" type="text" formControlName="lineNo" ></td>

                    <td><input class="form-control" type="text" formControlName="mcUsed" ></td>
                    <td><input class="form-control" type="text" formControlName="mpUsed" ></td>
                    <td><input class="form-control" type="text" formControlName="mcHrs" ></td>
                    <td><input class="form-control" type="number" formControlName="outputPcs" ></td>
                    <td><input class="form-control" type="text" formControlName="timeperiod" ></td>


                    <td><input class="form-control" type="text" formControlName="bundleNo"></td>

                    <th><button class="btn-danger" (click)="delete(i)">x</button></th>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-toolbar style="height: auto; display: flex; width: 100%; justify-content: center;">
        <button class="btn btn-primary" (click)="save()" *ngIf="!valueExceeded">Save</button>

        <button class="btn btn-primary" *ngIf="valueExceeded">Save</button>

    </mat-toolbar>
</div>