th,tr,td { 
    text-align: center;
    font-weight: normal;
}
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  ::ng-deep .form-control{
      border:none;
  }

  thead{
    position: static;
    top: 0;
  }
  :host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
}
:host ::ng-deep .p-dropdown .p-dropdown-label{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
  margin-left:-27px
}

.is-invalid {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}