
#overalllogin{
    background-image: url(src/assets/img/Background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: whitesmoke;
    height: 100vh;
  }

  #loginpage{
    flex-direction: column;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    background-color:#A8DF8E;
    width: 300px;
    height: 60%;
    border: 1px solid white;
    border-radius: 20px;
  }
#head{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    margin-top: 3%;
}

  #container{
    display: flex;
    margin-top: 10%;
    background-color: transparent;
    
}

#outborder-for-login{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 400px;
  border: 1px solid white;
  margin-left: 0%;
  margin-top:-40%;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(35px);
}

#outborder-for-login:hover{
    box-shadow: 0 0 10px 5px rgb(233, 222, 188);
}

#Login{
    margin-top: 15%;
    width: 75%;
    margin-left: 13%;
    font-size: large;
}

img{
  margin-top: -17%;
    margin-left: 36%;
    height: 25%;
    width: 30%;
}

#loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.logindetails{
    display: flex;
    width: 80%;
    border: 1px solid white;
    border-radius: 30px;
    height: 50px;
}
.logindetails:hover{
    box-shadow: 0 0 10px 5px rgb(253, 253, 253);
}

.logindetails:focus-within{
    box-shadow: 0 0 10px 5px rgb(253, 253, 253);
}

button:hover{
    box-shadow: 0 0 10px 5px rgb(253, 253, 253);
}

input::placeholder{
    color: white;
    font-size: medium;
    text-align: center;
}

#Logintab{
    height: 100%;
    border-radius: 20px;
    font-weight: 900;
    font-size: x-large;
    font-family: none;
    backdrop-filter: blur(25px);
    color: white;
}

#user, #pass{
    color: white; 
    background-color: transparent; 
    border: transparent;
    border-radius: 30px;
    margin-left: 20px;
    font-size: medium;
}
input:focus {
    border-color: transparent;
    outline: none;
}

