<div id="overalllogin">
  <div id="container">
    <div id="outborder-for-login" class="mat-elevation-z8 demo-table">
      <img src="assets/img/logo.jpg" class="mat-elevation-z8" style="border-radius: 50%;">
        <div label="Login"  id="Logintab">
          <h3 id="head">LOGIN</h3>
          <form [formGroup]="loginform" (ngsubmmit)="login()">
            <div id="loginform">
            <div class="logindetails">
              <input type="text" placeholder="Enter the Email" id="user" formControlName="userName">
              <i class="material-icons" matSuffix style="margin-left: 20%; margin-top: 4%;">person</i>
            </div>
              <div class="logindetails">
                  <input [type]="hide? 'password' : 'text'" id="pass" placeholder="Enter Password" formControlName="password" >
                  <i class="material-icons" matSuffix (click)="hide=!hide" style="margin-left: 20%; margin-top: 4%;">
                    {{hide ? 'visibility': 'visibility_off'}} </i>
              </div>
            </div>
              <button id="Login" class="btn btn-primary" style="border-radius: 50px;" (click)="login()">Login</button>
              <br><br>
          </form>
        </div>
    </div>
  </div>
</div>