<cdk-accordion class="example-accordion">
  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
    style="display: flex; flex-direction: column;">
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Buyer</mat-label>
        <mat-select [(ngModel)]="buyerName" (selectionChange)="onSelectionChange()" (click)="resetform()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let buyer of this.buyers" value="{{buyer.buyer}}">{{buyer.buyer}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Order</mat-label>
        <mat-select  [(ngModel)]="ordernumbers" (selectionChange)="onSelectionChange()" (click)="resetform()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let order of this.order" value="{{order.orderNO}}">{{order.orderNO}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Style</mat-label>
        <mat-select [(ngModel)]="styleslist" (selectionChange)="onSelectionChange()" (click)="resetform()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let style of this.stylelist" value="{{style.style}}">{{style.style}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>color</mat-label>
        <mat-select [(ngModel)]="colorslist" (selectionChange)="onSelectionChange()" (click)="resetform()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let color of this.colorlist" value="{{color.color}}">{{color.color}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 105px;">
        <mat-label>Size</mat-label>
        <mat-select [(ngModel)]="sizeslist" (selectionChange)="onSelectionChange()" (click)="resetform()">
          <mat-option value=""> </mat-option>
          <mat-option *ngFor="let size of this.sizelist" value="{{size.size}}">{{size.size}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<!--=============================================================================================================================-->


<cdk-accordion class="example-accordion">
  <cdk-accordion-item #accordionItem5="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0">
    <cdk-accordion-item #accordionItem5="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0">

      <div class="example-accordion-item-header" (click)="accordionItem5.toggle()"
        style="display: flex; justify-content: center; " (click)="show = !show">
        <div><b style="font-size: 110%;">{{ show ? '&minus;': '&plus;' }} </b></div>
      </div>
      <div class="cdk-accordion-item-body" [style.display]="accordionItem5.expanded ? '' : 'none'">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Fab Type</mat-label>
            <input matInput value="{{fabdetails?.fabType}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Yarn Type</mat-label>
            <input matInput value="{{fabdetails?.yarnType}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Yarn Cunt</mat-label>
            <input matInput value="{{fabdetails?.yarnCount}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Knit SL</mat-label>
            <input matInput value="{{fabdetails?.knitSL}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Fab Dia</mat-label>
            <input matInput value="{{fabdetails?.fabDia}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>GSM</mat-label>
            <input matInput value="{{fabdetails?.fabGsm}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Knit Fty</mat-label>
            <input matInput readonly value="{{fabdetails?.knitFty}}">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Dye Fty</mat-label>
            <input matInput readonly value="{{fabdetails?.dyeinFty}}">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Spin Fty</mat-label>
            <input matInput readonly value="{{fabdetails?.spinFty}}">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 105px;">
            <mat-label>Yarn Lot</mat-label>
            <input matInput readonly value="{{fabdetails?.yarnLot}}">
          </mat-form-field>

        </div>

      </div>

    </cdk-accordion-item>

  <!--================================== Fab Entry 1 ==============================================================================-->

  <mat-tab-group (selectedTabChange)="changetab($event)">
    <mat-tab label="First Roll Weight">
      <div [formGroup]="form" style="overflow: hidden;">

        <div style="display: flex; justify-content: center;" *ngIf="!loading1">
          <button mat-raised-button color="primary" (click)="submit()" style="margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading1">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>

        <div class="table1">
          <table>
            <thead>
              <tr>
                <th>Roll no</th>
                <th>Roll.Wt</th>
              </tr>
              <tr>
                <th></th>
                <th><input matInput style="width:50%; text-align: center;" value="{{this.entry1total}}" readonly></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div formArrayName="entrys">
                    <div class="entrydata" *ngFor="let item of items.controls; let i = index" [formGroupName]="i"
                      style="display: flex; justify-content: center;">
                      <mat-form-field style="width: 100px;">
                        <input type="text" matInput readonly style="direction: rtl;" formControlName="fabBarcode">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="full-width" style="width: 100px;">
                        <input type="number" matInput required formControlName="rollNo" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let roll of this.rollnnumber"
                            value="{{roll.rollNo}}">{{roll.rollNo}}</mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrys">
                    <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="entrydata">
                      <div style="display: flex; justify-content: center;">
                        <mat-form-field appearance="outline" class="full-width" style="width: 100px;">
                          <input matInput required formControlName="entry_1" type="number">
                          <mat-error>
                          </mat-error>
                        </mat-form-field>
                        <button type="button" class="btn btn-danger"
                          style="height: 50px; margin-left: 8px; display: none;" (click)="delete(i)">&#10008;</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </mat-tab>
    <!--=================================== Fab Entry 2 =================================================================================-->
    <mat-tab label="Greige Fab Del Entry">

      <div [formGroup]="form2" style="display: flex; flex-direction: column;">


        <div style="display: flex; justify-content: center;" *ngIf="!loading2">
          <button mat-raised-button color="primary" (click)="submit2()" style="margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading2">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>
        <div class="table1">
          <table>
            <thead>
              <tr>
                <th>Roll no</th>
                <th>Roll.Wt</th>
                <th>Greige.Wt</th>
              </tr>
              <tr>
                <th></th>
                <th><input matInput style="width:50%; text-align: center;" [value]="this.entry1total" readonly></th>
                <th><input matInput style="width:50%; text-align: center;" [value]="this.entry2total" readonly></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div formArrayName="entrystwo">
                    <div class="entrydata" *ngFor="let item of items2.controls; let a = index" [formGroupName]="a">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required formControlName="rollNo" readonly type="number">
                        <mat-error></mat-error>
                      </mat-form-field>
                      <mat-form-field style="display: none;">
                        <input type="text" matInput required formControlName="fabBarcode">
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrystwo">
                    <div *ngFor="let item of items2.controls; let a = index" [formGroupName]="a" class="entrydata">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input formControlName="entry_1" matInput required readonly type="number">
                        <mat-error></mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrystwo">
                    <div *ngFor="let item of items2.controls; let a = index" [formGroupName]="a" class="entrydata">
                      <div style="display: flex; justify-content: center;">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input matInput required formControlName="entry_2" type="number">
                          <mat-error>
  
                          </mat-error>
                        </mat-form-field>
                        <button type="button" class="btn btn-danger"
                          style="height: 50px; margin-left: 8px; display: none;" (click)="delete2(a)">&#10008;</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-tab>
    <!--========================= Fab Entry 3 =======================================================================-->
    <mat-tab label="Dye Batch Entry">
      <div [formGroup]="form3" style="display: flex; flex-direction: column;">
        <div style="display: flex; gap: 20%">
          <div style="display: flex;flex-direction: column; width: 50%;">
            <input type="text" class="form-control" style="direction: rtl; text-align: center; width: 50%;"
              placeholder="Batchno" [formControl]="batchGenerate">
            <button class="btn btn-primary" style="width: 50%;" (click)="dyeBatchEntry()">Generate</button>
          </div>
          <div style="display: flex; justify-content: center;" *ngIf="!loading3">
            <button mat-raised-button color="primary" (click)="submit3()" style="margin-top: 3%;">Save</button>
          </div>
          <div style="display: flex; justify-content: center;" *ngIf="loading3">
            <button mat-raised-button color="primary" style="margin-top: 3%;">
              <div class="loader"></div>
            </button>
          </div>
        </div>

        <div class="table1">
          <table>
            <thead>
              <tr>
                <th style="width: 45%;">Batchno</th>
                <th>Roll no </th>
                <th>Greige.Wt</th>
                <th>Dye.Wt</th>
              </tr>
              <tr>
                <th style="width: 45%;"></th>
                <th></th>
                <th><input matInput style="width:50%; text-align: center;" [value]="this.entry2total" readonly></th>
                <th><input matInput style="width:50%; text-align: center;" [value]="this.entry3total" readonly></th>
              </tr>  
            </thead>
            <tbody>
              <tr>
                <td style="width: 45%;">
                  <div formArrayName="entrysthree">
                    <div class="entrydata" *ngFor="let item of items3.controls; let i = index" [formGroupName]="i">
                      <mat-form-field appearance="outline" style="width:85%" class="full-width">
                        <input matInput required formControlName="batchNo">
                        <mat-error> </mat-error>
                      </mat-form-field>
  
                    </div>
                  </div>
                </td>

                <td>
                  <div formArrayName="entrysthree">
                    <div *ngFor="let item of items3.controls; let i = index" [formGroupName]="i" class="entrydata">
  
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required formControlName="rollNo" type="number">
                        <mat-error> </mat-error>
                      </mat-form-field>
                      <mat-form-field style="display: none;">
                        <input type="text" matInput required formControlName="fabBarcode">
                      </mat-form-field>
                    </div>
                  </div>
                </td>

                <td>
                  <div formArrayName="entrysthree">
                    <div *ngFor="let item of items3.controls; let i = index" [formGroupName]="i" class="entrydata">
                      <div style="display: flex; justify-content: center;">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input formControlName="entry_2" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>    
                </td>
                <td>
                  <div formArrayName="entrysthree">
                    <div *ngFor="let item of items3.controls; let b = index" [formGroupName]="b" class="entrydata">
                      <div style="display: flex; justify-content: center;">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input matInput required formControlName="entry_3" textOnly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                        <button type="button" class="btn btn-danger"
                          style="height: 50px; margin-left: 8px; display: none;" (click)="delete3(b)"> &#10008;
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </mat-tab>
    <!--========================= Fab Entry 4 =================================================================================-->
    <mat-tab label="Dye Finish Entry">

      <div [formGroup]="form4" style="overflow: hidden;">

        <div style="display: flex; justify-content: center;" *ngIf="!loading4">
          <button mat-raised-button color="primary" (click)="submit4()" style="margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading4">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>


        <div class="table1">
          <table>
            <thead>
              <tr>
                <th>Batchno</th>
                <th>Roll no </th>
                <th>Dye.Wt</th>
                <th>Fin.Wt</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th> <input matInput style="width:50%; text-align: center;" [value]="this.entry3total" readonly></th>
                <th><input matInput style="width:50%; text-align: center;" [value]="this.entry4total" readonly></th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>
                    <div formArrayName="entrysfour">
                      <div class="entrydata" *ngFor="let item of items4.controls; let c = index" [formGroupName]="c">
  
                        <mat-form-field appearance="outline" style="width:70px;" class="full-width">
                          <input matInput required readonly formControlName="batchNo">
                          <mat-error> </mat-error>
                        </mat-form-field>
  
                      </div>
                    </div>
                </td>
                <td>
                  <div formArrayName="entrysfour">
                    <div *ngFor="let item of items4.controls; let c = index" [formGroupName]="c" class="entrydata">

                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required formControlName="rollNo" textOnly type="number"> 
                        <mat-error> </mat-error>
                      </mat-form-field>

                      <mat-form-field style="display: none;">
                        <input type="text" matInput required formControlName="fabBarcode">
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysfour">
                    <div *ngFor="let item of items4.controls; let c = index" [formGroupName]="c" class="entrydata">
                      <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input formControlName="entry_3" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysfour">
                    <div *ngFor="let item of items4.controls; let c = index" [formGroupName]="c" class="entrydata">
                      <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input matInput required formControlName="entry_4" textOnly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                        <button type="button" class="btn btn-danger" style="height: 50px; display: none;"
                          (click)="delete4(c)"> &#10005;
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </mat-tab>
    <!--======================= Fab Entry 5 ==========================================================================-->
    <mat-tab label="Dyed Fab Del Entry">
      <div [formGroup]="form5" style="overflow: hidden;">

        <div style="display: flex; justify-content: center;" *ngIf="!loading5">
          <button mat-raised-button color="primary" (click)="submit5()" style="margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading5">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>

        <div class="table1">
          <table>
            <thead>
              <tr>
                <th style="width: 20%;">Batchno</th>
                <th style="width: 15%;">Roll No</th>
                <th>Greige</th>
                <th>Finish</th>
                <th>Difference</th>
                <th>Delivered</th>
              </tr>
              <tr>
                <th style="width: 20%;"></th>
                <th style="width: 15%;"></th>
                <th> <input matInput style="width:75%; text-align: center;" [value]="this.entry2total" readonly></th>
                <th><input matInput style="width:75%; text-align: center;" [value]="this.entry4total" readonly></th>
                <th></th>
                <th> <input matInput style="width:75%; text-align: center;" [value]="this.entry5total" readonly></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 20%;">
                  <div formArrayName="entrysfive">
                    <div class="entrydata" *ngFor="let item of items5.controls; let d = index" [formGroupName]="d">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required readonly formControlName="batchNo">
                        <mat-error> </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;">
                  <div formArrayName="entrysfive">
                    <div *ngFor="let item of items5.controls; let d = index" [formGroupName]="d" class="entrydata">
                      <mat-form-field appearance="outline" class="full-width" style="width: 57px; margin-left: -7%;">
                        <input matInput required formControlName="rollNo" textOnly type="number">
                        <mat-error> </mat-error>
                      </mat-form-field>
                      <mat-form-field style="display: none;">
                        <input type="text" matInput required formControlName="fabBarcode">
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysfive">
                    <div *ngFor="let item of items5.controls; let d = index" [formGroupName]="d" class="entrydata">
                      <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" style="margin-left: -5px; width: 62px;" class="full-width">
                          <input formControlName="entry_2" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysfive">
                    <div *ngFor="let item of items5.controls; let d = index" [formGroupName]="d" class="entrydata">
                      <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input formControlName="entry_4" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </td>
                <td>
                  <div formArrayName="entrysfive">
                    <div *ngFor="let item of items5.controls; let d = index" [formGroupName]="d" class="entrydata">
                      <div style="display: flex; justify-content: center">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input matInput formControlName="entry_5" required readonly>
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysfive">
                    <div *ngFor="let item of items5.controls; let d = index" [formGroupName]="d" class="entrydata">
                      <div>
                        <input type="checkbox" formControlName="reason" [checked]="item.get('reason')?.value"
                          [value]="item.get('reason')?.value ? 'yes' : 'no'"
                          style="border: 1px solid black; height: 50.4px;">
                      </div>
                    </div>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </mat-tab>
    <!--============================== Fab Entry 6=============================================================================-->
    <mat-tab label="Transfer from warehouse to Cut">
      <div [formGroup]="form6" style="overflow: hidden;">

        <div style="display: flex; justify-content: center;" *ngIf="!loading6">
          <button mat-raised-button color="primary" (click)="submit6()" style=" margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading6">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>

        <table class="table1">
          <thead>
            <tr>
              <th>Batch no</th>
              <th>Roll No.</th>
              <th>Dye Finish Wt</th>
              <th>planPcs</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th><input matInput style="width:50%; text-align: center;" [value]="this.entry5total" readonly></th>
              <th> <input matInput style="width:50%; text-align: center;" [value]="this.entry6total" readonly></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div formArrayName="entryssix">
                  <div class="entrydata" *ngFor="let item of items6.controls; let f = index" [formGroupName]="f">
                    <mat-form-field appearance="outline" style="width:70px" class="full-width">
                      <input matInput required readonly formControlName="batchNo">
                      <mat-error> </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </td>
              <td>
                <div formArrayName="entryssix">
                  <div *ngFor="let item of items6.controls; let f = index" [formGroupName]="f" class="entrydata">

                    <mat-form-field appearance="outline" style="width:70px" class="full-width">
                      <input matInput required formControlName="rollNo" textOnly type="number">
                      <mat-error> </mat-error>
                    </mat-form-field>

                    <mat-form-field style="display: none;">
                      <input type="text" matInput required formControlName="fabBarcode">
                    </mat-form-field>
                  </div>
                </div>
              </td>
              <td>
                <div formArrayName="entryssix">
                  <div *ngFor="let item of items6.controls; let f = index" [formGroupName]="f" class="entrydata">
                    <div style="display: flex; justify-content: center">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input formControlName="entry_4" matInput required readonly type="number">
                        <mat-error></mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div formArrayName="entryssix">
                  <div *ngFor="let item of items6.controls; let f = index" [formGroupName]="f" class="entrydata">
                    <div style="display: flex; justify-content: center">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required formControlName="entry_6" textOnly type="number">
                        <mat-error></mat-error>
                      </mat-form-field>
                      <button type="button" class="btn btn-danger" style="height: 50px; display: none;"
                        (click)="delete6(f)"> &#10005;
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </mat-tab>
    <!--======================== Fab Entry 7 ===========================================================================-->
    <mat-tab label="Actual Cut panels Entry">
      <div [formGroup]="form7" style="overflow: hidden;">
        <div style="display: flex; justify-content: center;" *ngIf="!loading7">
          <button mat-raised-button color="primary" (click)="submit7()" style="margin-top: 3%;">Save</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading7">
          <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
          </button>
        </div>

        <div>
          <table class="table1">
            <thead>
              <tr>
                <th style="width: 20%;">Batch no</th>
                <th>Roll No.</th>
                <th>Greige Wt</th>
                <th>PlanPcs</th>
                <th>Actual cut</th>
                <th>RejCause</th>
              </tr>
              <tr>
                <th style="width: 20%;"></th>
                <th></th>
                <th><input matInput style="width:75%; text-align: center;" value="{{this.entry5total}}" readonly></th>
                <th><input matInput style="width:75%; text-align: center;" value="{{this.entry6total}}" readonly></th>
                <th><input matInput style="width:75%; text-align: center;" value="{{this.entry7total}}" readonly></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td style="width: 20%;">
                  <div formArrayName="entrysseven">
                    <div class="entrydata" *ngFor="let item of items7.controls; let g = index" [formGroupName]="g">
                      <mat-form-field appearance="outline" style="width:70px" class="full-width">
                        <input matInput required readonly formControlName="batchNo">
                        <mat-error> </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </td>
                
                <td>
                  <div formArrayName="entrysseven">
                    <div *ngFor="let item of items7.controls; let g = index" [formGroupName]="g" class="entrydata">
                      <mat-form-field appearance="outline" style="width:60px ; margin-left: -4px;" class="full-width">
                        <input matInput required formControlName="rollNo" textOnly type="number">
                        <mat-error> </mat-error>
                      </mat-form-field>
                      <mat-form-field style="display: none;">
                        <input type="text" matInput required formControlName="fabBarcode">
                      </mat-form-field>
                    </div>
                  </div>

                </td>
                
                <td>
                  <div formArrayName="entrysseven">
                    <div *ngFor="let item of items7.controls; let g = index" [formGroupName]="g" class="entrydata">
                      <div>
                        <mat-form-field appearance="outline" style="margin-left: -5px; width: 62px" class="full-width">
                          <input formControlName="entry_2" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>

                <td>
                  <div formArrayName="entrysseven">
                    <div *ngFor="let item of items7.controls; let g = index" [formGroupName]="g" class="entrydata">
                      <div>
                        <mat-form-field appearance="outline" style="width:63px; margin-left: -5px; " class="full-width">
                          <input formControlName="entry_6" matInput required readonly type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div formArrayName="entrysseven">
                    <div *ngFor="let item of items7.controls; let g = index" [formGroupName]="g" class="entrydata">
                      <div>
                        <mat-form-field appearance="outline" style="width:64px; margin-left: -6px; " class="full-width">
                          <input matInput required textOnly formControlName="entry_7" type="number">
                          <mat-error></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </td>
                <td>


                  <div formArrayName="entrysseven">
                    <div *ngFor="let item of items7.controls; let g = index" [formGroupName]="g" class="entrydata">
                      <div style="display:flex ;">
                        <mat-form-field appearance="outline" style="width:70px" class="full-width">
                          <input matInput required textOnly>
                          <mat-error></mat-error>
                        </mat-form-field>
                        <button type="button" class="btn btn-danger" style="height: 50px; display: none;"
                          (click)="delete(g)"> &#10005;
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>