.example-accordion {
  display: block;
  max-width: 100%;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item-header {
  display: flex;
  justify-content:center;
  gap: 5px;
  flex-wrap: wrap;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 5px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: white;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table-container{
  max-width: 100%;
  overflow-x: auto;
}
td{
  text-align: center;
}
th{
  text-align: center;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
::nd-deep .example-accordion-item[_ngcontent-ng-c2664308336]:first-child{
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border: aliceblue;
}
mat-option{
font-size:smaller;
}

.table-container {
height: 400px; /* Set a fixed height for the container */
overflow-y: auto; /* Add vertical scroll if needed */
}

.mat-header-row {
position: sticky;
top: 0;
background-color: #f0f0f0; /* Adjust the background color as needed */
z-index: 1000; /* Ensure it's above other elements */
}

.loader {
border: 3px solid #f3f3f3;
border-radius: 50%;
border-top: 3px solid black;
width: 12px;
height: 12px;
-webkit-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;
}
 
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

input[type=checkbox]{
  width: 21px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table1 thead, .table1 tbody tr{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table1 tbody{
  display: block;
  max-height: 320px;
  overflow-y: scroll;
}


td{
  text-align: center;
}
thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}
th{
  text-align: center;
}
.sticky-header thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}



  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }



  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .table2 thead, .table2 tbody tr{
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .table2 tbody{
    display: block;
    max-height: 400px;
    overflow-y: scroll;
  }
  
  td{
    text-align: center;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  th{
    text-align: center;
  }
  .sticky-header thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  }