<div>
    <div style="display: flex;">
        <button (click)="back()" class="btn btn-danger">Back</button>
    </div>
    <div>
        <h2 style="text-align: center;">Yarn Receipt Create</h2>
    </div>
</div>
<div>
    <div style="display: flex; justify-content: center; gap: 20px;">

        <mat-form-field appearance="outline">
            <mat-label>Factory</mat-label>
            <mat-select [(ngModel)]="factory" (selectionChange)="getLcNo($event.value)">
                <mat-option *ngFor="let factory of this.factorylist" [value]="factory.spinner">{{factory.spinner}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lc No.</mat-label>
            <mat-select [(ngModel)]="this.lcNo" (selectionChange)="getyarnType()">
                <mat-option *ngFor="let number of this.lcNolist" [value]="number.lcNo">{{number.lcNo}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div style="display: flex; justify-content: center; gap: 20px;">

        <mat-form-field appearance="outline">
            <mat-label>Spin Challan</mat-label>
            <input matInput type="text" [(ngModel)]="spinChallan">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>SPDL Challan</mat-label>
            <input matInput type="text" [(ngModel)]="scandexChallan">
        </mat-form-field>

            <input type="date" class="form-control" [(ngModel)]="receiptDate" style="width: 215px; height: 58px; border: 1px solid rgb(85, 83, 83);">
    </div>

    <div [formGroup]="receiptForm" class="table1">
        <table class="table table-hover">
            <thead class="thead-dark"> 
                <tr>
                    <th><button class="btn btn-danger" (click)="ReceiptAddButton()">+</button></th>
                    <th>Yarn Type</th>
                    <th>Buyer</th>
                    <th>Order No.</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Lot No.</th>
                    <th>Allocated Kg</th>
                    <th>Knit Factory</th>
                    <th>Bags/Ctn - nos</th>
                    <th>Receipt Yarn Kgs</th>
                    <th>Pending Receipts - Kgs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let process of items3.controls; let i=index" [formGroupName]="i"
                    style="overflow: scroll;">
                    <td></td>
                    <td> 
                        <p-dropdown #yarn_type optionLabel="yarnType" [options]="yarntypelist" (onChange)="getyarnBuyers(i)" (click)="yarnlist(i)"
                            optionValue="yarnType" [editable]="true" formControlName="yarnType">
                        </p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #buyername [editable]="true" optionLabel="buyer" [options]="buyerslist" (click)="buyerlist(i)" (onChange)="getyarnorders(i)"
                            optionValue="buyer" formControlName="buyer">
                        </p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #ordernumber [editable]="true" optionLabel="orderNo" [options]="orderslist" (click)="orderNoslist(i)" (onChange)="getyarnstyles(i)"
                            optionValue="orderNo" formControlName="orderNo">
                        </p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #styles [editable]="true" optionLabel="style" [options]="styleslist" (click)="stylelist(i)" (onChange)="getyarncolors(i)"
                            optionValue="style" formControlName="style">
                        </p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #colors [editable]="true" optionLabel="colour" [options]="colorslist" (click)="colorlist(i)" (onChange)="getyarnlotNos(i)"
                            optionValue="colour" formControlName="color">
                        </p-dropdown>
                    </td>
                    <td>
                        <p-dropdown #lotNos [editable]="true" optionLabel="lotNo" [options]="lotNoslist" (click)="lotNolist(i)" (onChange)="orderId(i)"
                        optionValue="lotNo" formControlName="lotNo">
                        </p-dropdown>
                    </td>
                    <td>
                        <input class="form-control" type="number" formControlName="allocatedKg">
                    </td>
                    <td>
                        <p-dropdown #knitFact [editable]="true" optionLabel="knitFty" [options]="ftyName" (click)="knitFactorylist(i)"
                        optionValue="knitFty" formControlName="knitFactory">
                        </p-dropdown>
                    </td>
                    <td>
                        <input class="form-control" type="text" formControlName="BagsCtnNos">
                    </td>
                    <td>
                        <input class="form-control" type="text" formControlName="receiptYarnKgs" (input)="pendingKg(i)">
                    </td>
                    <td>
                        <input class="form-control" type="text" formControlName="pendingReceiptKgs">
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="ReceiptDelete(i)">x</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div style="display: flex; justify-content: center; background-color: darkgray;" *ngIf="!loading4">
            <button class="btn btn-primary" (click)="receiptSave()">Update</button>
        </div>
        <div style="display: flex; justify-content: center;" *ngIf="loading4">
            <button mat-raised-button color="primary" style="margin-top: 3%;">
                <div class="loader"></div>
            </button>
        </div>
    
</div>