<div [formGroup]="DyeDelivery">
    <mat-toolbar class="bg-secondary text-white" style="display: flex; justify-content: center; height: auto;">
        <span>DyeDelivery</span>
        <div style="flex: 1 1 auto;"></div>
        <div style="display: flex; gap: 2%;">
            <input type="text" class="form-control" formControlName="factory" list="9" style="margin-top: 2%;height: 50px; width: 150px;" placeholder="Factory">
            <datalist id="9">
                <option value="">
                <option *ngFor="let dyeinFty of this.factoryname" value="{{dyeinFty.dyeinFty}}"></option>
            </datalist>
              <input type="date" class="form-control" formControlName="date" list="9" style="margin-top: 2%;height: 50px; width: 150px;" placeholder="Date">
        </div>
    </mat-toolbar>
    <div class="tablecss">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="DyeDeliveryAddButton()" style="width: auto;">+</button>
                    </th>
                    <th>S.No</th>
                    <th>DyeChallan</th>
                    <th>BatchNo</th>
                    <th>Buyer</th>
                    <th>Order</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>NoRolls(Griege)</th>
                    <th>Del Greige Fab-Kgs</th>
                    <th>NoRolls(Finish)</th>
                    <th>Del Finish Fab-Kgs</th>
                    <th>Dye Rate</th>
                    <th>Dye Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>
                    <td>{{i+1}}</td>
                    <td>
                        <input formControlName="dyeChallan" class="form-control">
                    </td>
                    <td>
                        <input formControlName="batchNo" class="form-control">
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="buyer" list="buyer"
                            (input)="getBuyerValue($event)" (change)="getorders()">
                        <datalist id="buyer">
                            <option *ngFor="let buyer of this.buyer" [value]="buyer.buyer">{{buyer.buyer}}</option>
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="orderNo" list="2"
                            (input)="getOrderValue($event)" (change)="getstyle()">
                        <datalist id="2">
                            <option *ngFor="let number of this.order" [value]="number.orderNO">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="style" list="3"
                            (input)="getstylevalue($event)" (change)="getcolor()">
                        <datalist id="3">
                            <option *ngFor="let style of this.stylelist" [value]="style.style">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="color" list="4"
                            (input)="getcolorvalue($event)" (change)="getsize()">
                        <datalist id="4">
                            <option *ngFor="let color of this.colorlist" [value]="color.color">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="size" list="5" (input)="getWoId($event.target.value, i)">
                        <datalist id="5">
                            <option *ngFor="let size of this.sizelist" [value]="size.size">
                        </datalist>
                    </td>
                    <td>
                        <input class="form-control" type="number" formControlName="griegeRolls" (input)="calculate()">
                    </td>
                    <td>
                        <input class="form-control" type="number" formControlName="griegeDeliveryKgs" (input)="calculate()">
                    </td>

                    <td>
                        <input formControlName="finishRolls" class="form-control" type="number" (input)="calculate()">
                    </td>


                    <td>
                        <input class="form-control" type="number" formControlName="finishDeliveryKgs" (input)="calculate()">
                    </td>

                    <td>
                            <input type="text" class="form-control" formControlName="dyeRate" list="0" (input)="calculate()">
                        <datalist id="0">
                            <option [value]="1">
                        </datalist>
                    </td>
                    <td>
                        <input formControlName="dyeValue" class="form-control" type="number" (input)="calculate()">
                    </td>
                    <td><button class="btn btn-danger" (click)="DyeDeliveryRemoveButton(i)" style="width: auto;">x</button></td>
                </tr>
            </tbody>


            <thead class="thead-dark">
                <th></th>
                <th></th>

                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="text" formControlName="RollsGriegeTotal" class="form-control"></th>
                <th><input type="text" formControlName="RollsFinishTotal" class="form-control"></th>
                <th><input type="text" formControlName="DeliveryGriegeTotal" class="form-control"></th>
                <th><input type="text" formControlName="DeliveryFinishTotal" class="form-control"></th>
                <th></th>
                <th><input type="text" formControlName="DyeTotal" class="form-control"></th>
                <th></th>
            </thead>
        </table>
    </div>
    <mat-toolbar style="display: flex; justify-content: center; height: auto;"><button
            class="btn btn-primary" (click)="saveButton()">Save</button></mat-toolbar>
</div>