<mat-toolbar class="bg-dark text-white" style="display: flex; justify-content: center; height: auto;">
    Fabrics Transfer - Cutting Entry
</mat-toolbar>
<div [formGroup]="FabricsTransferForm">
    <!-- <mat-toolbar style="height: auto;">
        <div style="flex: 1 1 auto;"></div>
        <div style="display: flex; gap: 25px;">

            <div style="display: flex; gap: 10px;">
                <label style="font-weight: normal; font-family: auto; margin-top: 2px;">Transferno</label>
                <input type="text" class="form-control" style="margin-top: 2px;" [(ngModel)]="Transferno"
                    formControlName="1">
            </div>

            <div style="display: flex; gap: 10px;">
                <label style="font-weight: normal; font-family: auto; margin-top: 2px;">Date</label>
                <input type="date" class="form-control" style="margin-top: 2px;" [(ngModel)]="Date"
                    formControlName="2">
            </div>

        </div>
    </mat-toolbar> -->
    <div class="tablecss">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="FabricsTransferAddButton()">+</button></th>

                    <th>S.No</th>
                    <th>Transferno</th>
                    <th>Date</th>
                    <th>Buyer</th>

                    <th>Order no</th>
                    <th>Style</th>
                    <th>Color</th>

                    <th>Size</th>
                    <th>Rolls - nos</th>
                    <th>Finish Fabrics - Kgs</th>

                </tr>
            </thead>
            <tbody formArrayName="fabentry">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>

                    <td>{{i+1}}</td>
                    <td><input type="text" class="form-control" formControlName="transferNo"></td>
                    <td><input type="date" class="form-control" formControlName="transferDate"></td>
                    <td>
                        <!-- (keydown)="preventManual($event)" -->
                        <input type="text" class="form-control" formControlName="buyer" list="11"
                        (input)="getBuyerValue($event)" (change)="getorders()" >
                 <datalist id="11">
                     <option *ngFor="let buyer of buyer" [value]="buyer.buyer">{{buyer.buyer}}</option>
                 </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="orderNo" list="2"
                            (input)="getOrderValue($event)" (change)="getstyle()">
                        <datalist id="2">
                            <option *ngFor="let number of this.order" [value]="number.orderNO">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="style" list="3"
                            (input)="getstylevalue($event)" (change)="getcolor()">
                        <datalist id="3">
                            <option *ngFor="let style of this.stylelist" [value]="style.style">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="color" list="4"
                            (input)="getcolorvalue($event)" (change)="getsize()" >
                        <datalist id="4">
                            <option *ngFor="let color of this.colorlist" [value]="color.color">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="size" list="5" 
                        (input)="getWoId($event.target.value, i)">
                        <datalist id="5">
                            <option *ngFor="let size of this.sizelist" [value]="size.size">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="fabRolls"></td>
                    <td><input type="text" class="form-control" formControlName="finishFabKg"></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<mat-toolbar style="height: auto;">
    <div style="display: flex; width: 100%; justify-content: center;">
        <button class="btn btn-primary" olor="primart" (click)="save()">Save</button>
    </div>
</mat-toolbar>