th,td,tr{
    text-align: center;
}
::ng-deep .modal-backdrop.show{
    display: none;
}
::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper{
    cursor: pointer;
    width: 29vh;
}
.buyerbox{
    margin-top: 18px;
}
.maindatails{
    overflow: scroll;
    height: 100vh;
    scrollbar-width: none;
}

.Batch-Entry2{
    width: 100vh;
    display: inline-table;
    height: 45vh;
}
.Batch-Entry1{
    width: 100vh;
    display: inline-table;
    height: 49vh;
}

.Dryer1{
    width: 100vh;
    display: inline-table;
    height: 49vh;
}

.Dryer2{
    width: 100vh;
    display: inline-table;
    height: 45vh;
}

.Shade-Check1{
    width: 100vh;
    display: inline-table;
    height: 70vh;
}
.Shade-Check2{
    width: 100vh;
    display: inline-table;
    height: 66vh;
}
.Slitting1{
    width: 100vh;
    display: inline-table;
    height: 59vh;
}
.Slitting2{
    width: 100vh;
    display: inline-table;
    height: 55vh;
}
.Open-Compact1{
    width: 100vh;
    display: inline-table;
    height: 76vh;
}
.Open-Compact2{
    width: 100vh;
    display: inline-table;
    height: 69vh;
}
.Final-Batch-Report1{
    width: 100vh;
    display: inline-table;
    height: 45vh;
}

.Final-Batch-Report2{
    width: 100vh;
    display: inline-table;
    height: 45vh;
}

::ng-deep .form-control{
    border: revert-layer;
}

th,tr,td{
    font-weight: normal;
}
::ng-deep .modal-fullscreen .modal-body{
    overflow-y: auto;
    scrollbar-width: none;
}
::ng-deep.p-panel .p-panel-header{
    border: 1px solid #e5e7eb;
    padding: 1.25rem;
    background: #f9fafb;
    color: #374151;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: darkorchid;
    color: white;
}
::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
}