table {
    width: 150%;
    border: 1px solid black;
}
.table-container{
    overflow-x: auto;
    max-width: 100%;
}
th{
    border:1px solid black;
    text-align: center;
}
td{
    border:1px solid black;
}
