table {
    width: 200%;
  }
  .table-container{
    max-width: 100%;
    overflow-x: auto;
  }
  th{
    border:1px solid black;
    text-align: center;
  }
  td{
    border:1px solid black;
  }
  mat-option{
    font-size:smaller;
  }
  
  table {
    width: 100%;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td{
    text-align: center;
  }

  th{
    text-align: center;
  }
  .fixTableHead{
    overflow: scroll;
    height: 86%;
  }

  th,tr,td{
    text-align: center;
    font-weight: normal;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    -moz-appearance: textfield;
}
thead {
    position: sticky;
    top: 0;
    color: #ffffff;
    background: #324960;
    font-family: Roboto-Bold;
    font-size: 14px;
  }

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
  }

:host ::ng-deep .p-dropdown .p-dropdown-label{
    color: #6b7280;
    padding: 6px;
    margin-left: 2vh;
    font-size: small;
  }
  
:host ::ng-deep .p-dropdown {
   width: max-content;
  }
  
:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px;
    font-size: small;
  }
  
  .is-invalid {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
  }