<div [formGroup]="buyerorderform">
  <mat-toolbar style="height: auto;">
    <div style="width: 100%; display: flex; justify-content: center;">
      <span>Fabric Booking</span>
    </div>

    <!-- <button mat-button color="primary" (click)="BuyerCrationPopup = true">New</button> -->
    <!-- <button mat-button color="primary" (click)="FBReport() ">Report</button> -->
  </mat-toolbar>
  <mat-toolbar>
    <div>

      <div style="display: flex; justify-content: start; gap: 10vh;">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Buyer</mat-label>
            <mat-select formControlName="Buyer" (selectionChange)="buyerdata()">
              <mat-option *ngFor="let data of this.buyersDta" value="{{data.buyer}}">{{data.buyer}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>OrderNo</mat-label>
            <mat-select formControlName="OrderNo" (selectionChange)="orderdata()">
              <mat-option *ngFor="let data of this.orderNoDta" value="{{data.orderNo}}">{{data.orderNo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </mat-toolbar>
  <div>

    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th><button class="btn btn-primary" (click)="add1button()">+</button></th>
            <th>S.no</th>
            <!-- <th>Buyer</th>
          <th>OrderNo</th> -->

            <th>Style</th>
            <th>Color</th>

            <th>FSize</th>

            <th>GSize</th>
            <th>FabDia</th>
            <th>OrderPcs</th>
            <th>YarnKg</th>
            <th>GreigeKg</th>
            <th>FinishKg</th>
            <th>FabGsm</th>

            <th>Yarn Type</th>
            <th>FabType</th>
            <th>Dye Type</th>
<!-- 
            <th>SpinFty</th>
            <th>KnitFty</th>
            <th>DyeinFty</th> -->


            <!-- <th>OrderFOBRate</th> -->
            <!-- <th>KnitRate</th>
            <th>DyeRate</th> -->

            

            <th>Remove</th>
          </tr>
        </thead>
        <tbody formArrayName="data">
          <tr *ngFor="let process of items.controls; let i=index" [formGroupName]="i">
            <td></td>

            <td>{{i+1}}</td>

            <!-- <td><input style="width: 15vh;" formControlName="Buyer" (input)="buyervalue(i)" list="buyer"
              (change)="buyerdata()" class="form-control">
            <datalist id="buyer">
              <option *ngFor="let data of this.buyersDta" value="{{data.buyer}}">{{data.buyer}}</option>
            </datalist>
          </td>

          <td><input style="width: 15vh;" formControlName="OrderNo" list="order" (input)="ordervalue(i)"
              (change)="orderdata()" class="form-control" (mouseenter)="buyervalue(i)">
            <datalist id="order">
              <option *ngFor="let data of this.orderNoDta" value="{{data.orderNo}}">{{data.orderNo}}</option>
            </datalist>
          </td> -->

            <td>
              <input style="width: 15vh;" formControlName="Style" list="Style" (input)="stylevalue(i)"
                (change)="styledata()" class="form-control" (mouseenter)="ordervalue(i)">
                <datalist id="Style">
                  <option *ngFor="let data of this.styleDta" value="{{data.style}}">{{data.style}}</option>
                </datalist>
              <!-- <p-dropdown [options]="styleDta" optionLabel="style" optionValue="style" placeholder="style"
                formControlName="Style" [editable]="true" (mouseenter)="stylevalue(i)" overlay="true"
                (onChange)="styledata()" (mouseenter)="ordervalue(i)" appendTo="body" /> -->
            </td>

            <td><input style="width: 15vh;" formControlName="Color" list="Color" (input)="colorvalue(i)"
                class="form-control" (mouseenter)="stylevalue(i)">
              <datalist id="Color">
                <option *ngFor="let data of this.colorDta" value="{{data.color}}">{{data.color}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="FSize" list="FSize" (change)="fsizedata(i , $event)"
                class="form-control"></td>
            <datalist id="FSize">
              <option *ngFor="let data of this.concatSizeDta" value="{{data.concatSize}}">{{data.concatSize}}</option>
            </datalist>



            <td><input style="width: 15vh;" formControlName="Size" list="GSize" (input)="sizevalue(i)" (change)="sizedata(i)"
                class="form-control" readonly>
            </td>


            <td><input style="width: 15vh;" formControlName="FabDia" list="FabDia" (input)="fabdiavalue($event)" readonly class="form-control"></td>

            <td><input style="width: 15vh;" formControlName="OrderPcs" class="form-control" (click)="calculateDiff(i)" (input)="calculateDiff(i)"></td>

            <td><input style="width: 15vh;" formControlName="YarnKg" readonly class="form-control"></td>

            <td><input style="width: 15vh;" formControlName="GreigeKg" readonly class="form-control"></td>

            <td><input style="width: 15vh;" formControlName="FinishKg" readonly class="form-control"></td>
            
            <td><input style="width: 15vh;" formControlName="FabGsm" list="FabGsm" readonly class="form-control"></td>

            <td><input style="width: 15vh;" formControlName="YarnType" list="YarnType" readonly class="form-control">
              <datalist id="YarnType">
                <option *ngFor="let data of this.yarntypedta" value="{{data.yarntype}}">{{data.yarntype}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="FabType" list="FabType" (input)="fabrictypeIdvalue($event)"
                readonly class="form-control"></td>
            <datalist id="FabType">
              <option *ngFor="let data of this.fabricstypedta" value="{{data.fabricstype}}">{{data.fabricstype}}
              </option>
            </datalist>

            <td><input style="width: 15vh;" formControlName="dyetype" list="DyeType" readonly class="form-control">
              <datalist id="DyeType">
                <option *ngFor="let data of this.dyetypedta" value="{{data.dyeType}}">{{data.dyeType}}</option>
              </datalist>
            </td>


            <!-- <td><input style="width: 15vh;" formControlName="SpinFty" list="SpinFty" (input)="SpinFtyIdvalue($event,i)"
                class="form-control">
              <datalist id="SpinFty">
                <option *ngFor="let data of this.spinftydta" value="{{data.SpinFtyName}}">{{data.SpinFtyName}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="KnitFty" list="KnitFty" (input)="KnitFtyIdvalue($event,i)"
                class="form-control">
              <datalist id="KnitFty">
                <option *ngFor="let data of this.knitFtydta" value="{{data.knitFty}}">{{data.knitFty}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="DyeinFty" list="dyeFty"
                (input)="DyeinFtyIdvalue($event , i)" class="form-control">
              <datalist id="dyeFty">
                <option *ngFor="let data of this.dyeFtydta" value="{{data.dyeFty}}">{{data.dyeFty}}</option>
              </datalist>
            </td> -->

            <!-- <td><input style="width: 15vh;" formControlName="OrderFOBRate" class="form-control"></td> -->

            <!-- <td><input style="width: 15vh;" formControlName="KnitRate" class="form-control"></td>

            <td><input style="width: 15vh;" formControlName="DyeRate" class="form-control"></td> -->

          

            <td><button (click)="Delete(i)" style="background-color: red; color: white;">x</button></td>



          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />

  <div style="width: 100%; display: flex; justify-content: center;">
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
  <!-- <div style="display: flex; justify-content: center;" *ngIf="!this.valueExceeded">
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>
<div style="display: flex; justify-content: center;" *ngIf="this.valueExceeded">
    <button class="btn btn-primary">
        <div class="loader"></div>
    </button>

</div> -->


</div>
<!-- </p-dialog> -->