<!-- <mat-toolbar style="height: auto;">
  <div style="width: 100%; display: flex; justify-content: center;">
    <span>Buyer Cration</span>
  </div>
</mat-toolbar> -->
<div>
  <p-panel header="Buyer Cration Details" [formGroup]="buyerorderform">
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th><button class="btn btn-primary" (click)="add1button()">+</button></th>
            <th>S.no</th>
            <th>Buyer</th>
            <th>OrderNo</th>

            <th>Style</th>
            <th>Color</th>
            <th>GSize</th>

            <th>FSize</th>
            <th>FabType</th>
            <th>FabDia</th>

            <th>FabGsm</th>
            <th>KnitSL</th>
            <th>YarnType</th>

            <th>YarnKg</th>
            <th>GreigeKg</th>
            <th>FinishKg</th>

            <th>SpinFty</th>
            <th>KnitFty</th>
            <th>DyeinFty</th>

            <th>OrderPcs</th>
            <th>OrderFOBRate</th>
            <th>KnitRate</th>

            <th>DyeRate</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody formArrayName="data">
          <tr *ngFor="let process of items.controls; let i=index" [formGroupName]="i">
            <td></td>

            <td>{{i+1}}</td>

            <td><input style="width: 15vh;" formControlName="Buyer" (input)="buyervalue($event)" list="buyer"
                (change)="buyerdata()">
              <datalist id="buyer">
                <option *ngFor="let data of this.buyersDta" value="{{data.buyer}}">{{data.buyer}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="OrderNo" list="order" (input)="ordervalue($event)"
                (change)="orderdata()">
              <datalist id="order">
                <option *ngFor="let data of this.orderNoDta" value="{{data.orderNo}}">{{data.orderNo}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="Style" list="Style" (input)="stylevalue($event)"
                (change)="styledata()"></td>
            <datalist id="Style">
              <option *ngFor="let data of this.styleDta" value="{{data.style}}">{{data.style}}</option>
            </datalist>

            <td><input style="width: 15vh;" formControlName="Color" list="Color" (input)="colorvalue($event)"
                (change)="colordata()">
              <datalist id="Color">
                <option *ngFor="let data of this.colorDta" value="{{data.color}}">{{data.color}}</option>
              </datalist>
            </td>

            <td><input style="width: 15vh;" formControlName="GSize" list="GSize" (input)="sizevalue($event)"
                (change)="sizedata()"></td>
            <datalist id="GSize">
              <option *ngFor="let data of this.sizeDta" value="{{data.size}}">{{data.size}}</option>
            </datalist>

            <td><input style="width: 15vh;" formControlName="FSize" list="FSize" (input)="fsizevalue($event)"
                (change)="fsizedata()"></td>
            <datalist id="FSize">
              <option *ngFor="let data of this.fsizeDta" value="{{data.machineDia}}">{{data.machineDia}}</option>
            </datalist>

            <td><input style="width: 15vh;" formControlName="FabType" list="FabType"></td>
            <datalist id="FabType">
              <option *ngFor="let data of this.fabricstypedta" value="{{data.fabricstype}}">{{data.fabricstype}}</option>
            </datalist>

            <td><input style="width: 15vh;" formControlName="FabDia"></td>

            <td><input style="width: 15vh;" formControlName="FabGsm"></td>

            <td><input style="width: 15vh;" formControlName="KnitSL"></td>

            <td><input style="width: 15vh;" formControlName="YarnType"></td>

            <td><input style="width: 15vh;" formControlName="YarnKg"></td>

            <td><input style="width: 15vh;" formControlName="GreigeKg"></td>

            <td><input style="width: 15vh;" formControlName="FinishKg"></td>

            <td><input style="width: 15vh;" formControlName="SpinFty"></td>

            <td><input style="width: 15vh;" formControlName="KnitFty"></td>

            <td><input style="width: 15vh;" formControlName="DyeinFty"></td>

            <td><input style="width: 15vh;" formControlName="OrderPcs"></td>

            <td><input style="width: 15vh;" formControlName="OrderFOBRate"></td>

            <td><input style="width: 15vh;" formControlName="KnitRate"></td>

            <td><input style="width: 15vh;" formControlName="DyeRate"></td>

            <td><button (click)="Delete(i)" style="background-color: red; color: white;">x</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template pTemplate="footer">
      <div style="display: flex; justify-content: center;">
        <button class="btn btn-primary">Save</button>
      </div>
    </ng-template>
  </p-panel>
</div>