<div class="container m-5">
  <input type="file" class="form-control w-50" (change)="readexcelfile($event)">
</div>
<div class="table-container">
<section class="example-container " tabindex="0" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
       <ng-container matColumnDef="WOno">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> WO no </th>
        <td mat-cell *matCellDef="let element"> {{element.WOno}} </td>

      </ng-container>
  
       <ng-container matColumnDef="WOLineno">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> WO Line no</th>
        <td mat-cell *matCellDef="let element"> {{element.WOLineno}} </td>

      </ng-container>
  
       <ng-container matColumnDef="Buyer">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;">Buyer</th>
        <td mat-cell *matCellDef="let element"> {{element.Buyer}} </td>
        <td mat-cell *matCellDef="let element"> 3 </td>
      </ng-container>
  
       <ng-container matColumnDef="Order">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Order </th>
        <td mat-cell *matCellDef="let element"> {{element.Order }} </td>
        <td mat-cell *matCellDef="let element"> 4 </td>
      </ng-container>

      <ng-container matColumnDef="Style">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Style </th>
        <td mat-cell *matCellDef="let element"> {{element.Style }} </td>
        <td mat-cell *matCellDef="let element"> 5 </td>
      </ng-container>

      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.Color }} </td>
        <td mat-cell *matCellDef="let element"> 6 </td>
      </ng-container>

      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.Size }} </td>
        <td mat-cell *matCellDef="let element"> 7 </td>
      </ng-container>

      <ng-container matColumnDef="FabType">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Fab Type </th>
        <td mat-cell *matCellDef="let element"> {{element.FabType }} </td>
        <td mat-cell *matCellDef="let element"> 45 </td>
      </ng-container>

      <ng-container matColumnDef="FabDia">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Fab Dia </th>
        <td mat-cell *matCellDef="let element"> {{element.FabDia }} </td>
        <td mat-cell *matCellDef="let element"> 9 </td>
      </ng-container>

      <ng-container matColumnDef="FabGSM">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Fab GSM </th>
        <td mat-cell *matCellDef="let element"> {{element.FabGSM }} </td>
        <td mat-cell *matCellDef="let element"> 0 </td>
      </ng-container>

      <ng-container matColumnDef="Yarntype">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Yarn type </th>
        <td mat-cell *matCellDef="let element"> {{element.Yarntype }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="YarnCount">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Yarn Count </th>
        <td mat-cell *matCellDef="let element"> {{element.YarnCount }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="KnitSL">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Knit SL </th>
        <td mat-cell *matCellDef="let element"> {{element.KnitSL }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="SpinFty">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Spin Fty </th>
        <td mat-cell *matCellDef="let element"> {{element.SpinFty }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="KnitFty">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Knit Fty </th>
        <td mat-cell *matCellDef="let element"> {{element.KnitFty }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="DyeingFty">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Dyeing Fty </th>
        <td mat-cell *matCellDef="let element"> {{element.DyeingFty }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="YarnLot">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Yarn Lot </th>
        <td mat-cell *matCellDef="let element"> {{element.YarnLot }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="NoofRolls">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> No of Rolls </th>
        <td mat-cell *matCellDef="let element"> {{element.NoofRolls }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <ng-container matColumnDef="PrintStatus">
        <th mat-header-cell *matHeaderCellDef style="background-color: darksalmon;"> Print Status </th>
        <td mat-cell *matCellDef="let element"> {{element.PrintStatus }} </td>
        <td mat-cell *matCellDef="let element">100  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>