:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
}
th,tr,td{
    font-weight: normal;
    text-align: center;
}
/* ::ng-deep .mat-mdc-form-field{
    width: 100px;
} */

:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
}
th,tr,td{
    font-weight: normal;
    text-align: center;
}
/* ::ng-deep .mat-mdc-form-field{
    width: 100px;
} */
:host ::ng-deep input, button, select, optgroup, textarea{
    width: 85px;
}
:host ::ng-deep .p-dropdown{
    width: 130px;
}
.tablecss{
    overflow-x: scroll;
    width: 100%;
    height: 74vh;
    scrollbar-width: none;
}
:host ::ng-deep .form-control{
    border: 1px solid black;
}
:host ::ng-deep .p-dropdown .p-dropdown-trigger{
    display: none;
}
:host ::ng-deep .p-calendar{
    max-height: 70%;
    margin-top: 6%;
}
:host ::ng-deep [_nghost-ng-c203490092] .p-dropdown{
    width: 140px;
    height: 47px;
    margin-top: 4%;
}
:host ::ng-deep .mat-mdc-text-field-wrapper{
    width: 100%;
    margin-top: 10%;
}
:host ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper{
    background-color: white;
}
:host ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
    background-color: white;
}

thead{
  position: sticky;
  top: 0;
}


@media (max-width: 600px) {
    .YarnReportScrol{
        display: block;
        height: 620px;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .fl-table {
        display: block;
        width: 100%;
    }
    .YarnReportScrol:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}