<div style="position: sticky; top: 0;">
  <mat-tab-group #tab>

    <mat-tab label="Buyer">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-buyer-creation></app-buyer-creation>
      </div>
    </mat-tab>

    <mat-tab label="Style">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-style-creation></app-style-creation>
      </div>
    </mat-tab>

    <mat-tab label="Color">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-color-creation></app-color-creation>
      </div>
    </mat-tab>

    <mat-tab label="Size">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-size-creation></app-size-creation>
      </div>
    </mat-tab>

    <mat-tab label="Fabricsdia">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-fabricsdia-creation></app-fabricsdia-creation>
      </div>
    </mat-tab>

    <mat-tab label="Yarn Type">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-yarn-type-creation></app-yarn-type-creation>
      </div>
    </mat-tab>

    <mat-tab label="Fabric Type">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-fabrics-type-creation></app-fabrics-type-creation>
      </div>
    </mat-tab>

    <mat-tab label="Dye Type">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-dye-type-creation></app-dye-type-creation>
      </div>
    </mat-tab>

    <mat-tab label="Rej Type">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-rej-type-creation></app-rej-type-creation>
      </div>
    </mat-tab>

    <mat-tab label="Spin Fty">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-spin-fty-creation></app-spin-fty-creation>
      </div>
    </mat-tab>

    <mat-tab label="Knit Fty">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-knit-fty-creation></app-knit-fty-creation>
      </div>
    </mat-tab>

    <mat-tab label="Dye Fty">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-dye-fty-creation></app-dye-fty-creation>
      </div>
    </mat-tab>

    <mat-tab label="Machine Allocation">
      <div style="overflow-x: auto; overflow-y: visible; height: 75vh;">
        <app-machine-allocation-master></app-machine-allocation-master>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>