th,tr,td{
    font-weight: normal;
    text-align: center;
    
}
::ng-deep .modal-backdrop.show {
    display: contents;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    -moz-appearance: textfield;
}

::ng-deeg .mat-mdc-tab-header{
    --mdc-tab-indicator-active-indicator-height:48px
}

::ng-deep .mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
    --mdc-tab-indicator-active-indicator-color: white;
    --mat-tab-header-disabled-ripple-color: white;
    --mat-tab-header-pagination-icon-color: white;
    --mat-tab-header-inactive-label-text-color: white;
    --mat-tab-header-active-label-text-color: black;
    --mat-tab-header-active-ripple-color: red;
    --mat-tab-header-inactive-ripple-color: yellow;
    --mat-tab-header-inactive-focus-label-text-color: white;
    --mat-tab-header-inactive-hover-label-text-color: black;
    --mat-tab-header-active-focus-label-text-color: black;
    --mat-tab-header-active-hover-label-text-color: black;
    --mat-tab-header-active-hover-indicator-color: white;
    --mat-tab-header-active-focus-indicator-color:white;

  }
  
  :host ::ng-deep ::ng-deep.mat-mdc-tab-header {
    --mdc-tab-indicator-active-indicator-height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    --mat-tab-indicator-active-indicator-shape: 0;
    --mat-secondary-navigation-tab-container-height: 48px;
    background-color: #662d91;
}

:host ::ng-deep ::ng-deep.mat-mdc-tab-header .mdc-tab-indicator {
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.table1{
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}

.table2{
    height: 450px;
    overflow-y: auto;
    scrollbar-width: none;
}

thead{
    position: sticky;
    top: 0;
}
::ng-deep .p-dialog-draggable .p-dialog-header{
    cursor: move;
    height: 0px;
}
::ng-deep.p-dialog .p-dialog-footer{
    border-top: 0 none;
    background: #ffffff;
    color: #4b5563;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 8vh;
}
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid black;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    }
       
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
      }