<div [formGroup]="ShipEty">
    <mat-toolbar style="height: 7vh;">
        <div style="display: flex; gap: 15px; width: 100%; justify-content: center;">
            <span>Shipment</span>
        </div>
        <div style="flex: 1 1 auto;"></div>
        <div style="display: flex; gap: 10px;">

            <div style="display: flex; gap: 10px;">
                <p-dropdown  placeholder="Buyer" optionLabel="buyer" [options]="this.buyers" (onChange)="getBuyerValue()"
                optionValue="buyer" [editable]="true"  [style]="{ minWidth: '22vh', minHeight:'2vh' }" formControlName="buyer"></p-dropdown>
            </div>


            <div style="display: flex; gap: 10px;">
                <p-dropdown  placeholder="orderNo" optionLabel="orderNo" [options]="this.order" (onChange)="ordervalue()"
                optionValue="orderNo" [editable]="true"  [style]="{ minWidth: '22vh', minHeight:'2vh' }" formControlName="orderNo"></p-dropdown>
            </div>

                <div style="display: flex; gap: 10px;">
                    <label style="font-weight: normal; font-family: serif; margin-top: 5px;">Ship Date</label>
                    <input type="date" class="form-control" style="margin-top: 2px;" formControlName="shipDate">
                </div>    
        </div>


    </mat-toolbar>
    <div class="tablecss">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="ShipEtyAddButton()">+</button></th>
                    <th>S.No</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>G.Size</th>
                    <th>Fab Type</th>
                    <th>Fab GSM</th>
                    <th>Order Pcs (A)</th>
                    <th>Ship Pcs (B)</th>
                    <th>Carton nos</th>
                    <th>Pending Pcs (A-B)</th>
                    <th>Specific Remarks</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>
                    <td>{{i+1}}</td>

                    <td>
                        <input type="text" class="form-control" formControlName="style" list="3" (input)="stylevalue(i)"
                            (mouseenter)="ordervalue(i)" (change)="styledata()">
                        <datalist id="3">
                            <option *ngFor="let data of this.stylelist" value="{{data.style}}">{{data.style}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input style="width: 15vh;" formControlName="color" list="Color" (input)="colorvalue(i)"
                            (change)="colordata()" class="form-control" (mouseenter)="stylevalue(i)">
                        <datalist id="Color">
                            <option *ngFor="let data of this.colorlist" value="{{data.color}}">{{data.color}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input class="form-control" type="text" formControlName="size" list="size"
                            (mouseenter)="colorvalue(i)" (input)="getwoId($event.target.value,i)">
                        <datalist id="size">
                            <option *ngFor="let data of this.sizelist" value="{{data.size}}">{{data.size}}</option>
                        </datalist>
                    </td>

                    <td>
                        <input type="text" class="form-control" formControlName="fabtype" >
                    </td>

                    <td>
                        <input type="text" class="form-control" formControlName="fabGSM" >
                    </td>
    

                    <td><input class="form-control" type="text" formControlName="orderPcs" ></td>

                    <td><input class="form-control" type="text" formControlName="shipPcs" 
                        (input)="valid($event.target.value, i)" [ngClass]="{'is-invalid':this.toleranceValid[i]}"></td>
                    <td><input class="form-control" type="text" formControlName="carton" ></td>
                    <td><input class="form-control" type="text" formControlName="pendingPcs" readonly ></td>
                    <td><textarea class="form-control"  formControlName="remarks" ></textarea></td>

                    <th><button class="btn-danger" (click)="delete(i)">x</button></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: -2vh;">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th><span>Notes for Shipment </span></th>
                    <th colspan="4"><textarea class="form-control" style="height: 1px;"
                            formControlName="notes"></textarea></th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <mat-toolbar style="height: auto; display: flex; width: 100%; justify-content: center;">
        <button class="btn btn-primary" (click)="save()" *ngIf="!valueExceeded">Save</button>

        <button class="btn btn-primary" *ngIf="valueExceeded">Save</button>

    </mat-toolbar>
</div>