th,tr,td { 
    text-align: center;
    font-weight: normal;
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items {
    margin-left:-27px
}
:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    color: #6b7280;
    margin-top: -5px;
}
:host ::ng-deep .p-dropdown{
    display: inline-flex;
    cursor: pointer;
    position: relative;
     user-select: none;
     height: 6vh;
     width: 24vh;
}
:host ::ng-deep .p-dropdown .p-dropdown-label{
    background: transparent;
    border: 0 none;
    margin-top: -5px;
}

:host ::ng-deep .form-control{
    border: 1px solid gray;
}
:host ::ng-deep .mat-mdc-text-field-wrapper{
    width: 80%;
    background-color: white;
}

.tablecss{
    /* overflow-x: scroll;
    width: 100%;
    height: 45vh;
    scrollbar-width: none; */
}
thead{
    position: sticky;
    top: 0;
}
:host ::ng-deep .p-inputtext.p-inputtext-sm{ 
    height: 6vh;
    width: 25vh;
}
:host ::ng-deep .p-inputtext{
    height: 6vh;
    width: 25vh;

}
:host ::ng-deep .p-float-label label{
    font-size: medium;
}