<div [formGroup]="KnitWorkOrderFrom">
    <mat-toolbar style="height: auto;">
        <div style="display: flex; gap: 15px; width: 100%; justify-content: center;">
            <span>Knit Work Order Creation</span>
        </div>
        <div style="flex: 1 1 auto;"></div>
        <div style="display: flex; gap: 10px; margin-top: 1vh;">
        
        <div style="display: flex; gap: 10px;">
            <label style="font-weight: normal; font-family: serif; margin-top: 5px;">woDate</label>
            <input type="date" class="form-control" style="margin-top: 2px;" formControlName="woDate">
        </div>

        <div style="display: flex; gap: 10px;">
            <label style="font-weight: normal; font-family: serif; margin-top: 5px;">completedDate</label>
            <input type="date" class="form-control" style="margin-top: 2px;" formControlName="completedDate">
        </div>

    </div>


    </mat-toolbar>
    <mat-toolbar style="display: inline-table; width: 100%; height: 12vh;">
        <div
            style="display: flex; justify-content:center; gap: 3vh; margin-top: 3vh; flex-wrap: wrap; margin-bottom: 1vh;">

            <!-- <p-dropdown placeholder="Buyer" [(ngModel)]="buyerName" (onChange)="getorders()" [options]="buyer"
                optionLabel="buyer" optionValue="buyer" formControlName="buyer"></p-dropdown> -->

                <mat-form-field appearance="outline">
                    <mat-label>Buyer</mat-label>
                    <mat-select [(ngModel)]="buyerName" formControlName="buyer" (selectionChange)="getorders()">
                        <mat-option  *ngFor="let buyer of this.buyer" value="{{buyer.buyer}}">{{buyer.buyer}}</mat-option>
                    </mat-select>
                </mat-form-field>

            <!-- <p-dropdown placeholder="Order" [(ngModel)]="orderNo" (onChange)="getstyle()" [options]="order"
                optionLabel="orderNO" optionValue="orderNO" formControlName="orderNo"></p-dropdown> -->

                <mat-form-field appearance="outline">
                    <mat-label>Order</mat-label>
                    <mat-select [(ngModel)]="orderNo" formControlName="orderNo" (selectionChange)="getstyle()">
                        <mat-option  *ngFor="let order of this.order" value="{{order.orderNO}}">{{order.orderNO}}</mat-option>
                    </mat-select>
                </mat-form-field>


            <!-- <p-dropdown placeholder="Knit Factory" [(ngModel)]="ftyname" [options]="ftyName" optionLabel="knitFty"
                optionValue="knitFty" formControlName="knitfty"></p-dropdown> -->

                <mat-form-field appearance="outline">
                    <mat-label>Knit Factory</mat-label>
                    <mat-select [(ngModel)]="ftyname" formControlName="knitfty">
                        <mat-option  *ngFor="let ftyName of this.ftyName" value="{{ftyName.knitFty}}">{{ftyName.knitFty}}</mat-option>
                    </mat-select>
                </mat-form-field>


            <!-- <p-floatLabel>
                <input pInputText id="WO no" formControlName="woNo" />
                <label for="WO no">WO no</label>
            </p-floatLabel> -->

            <mat-form-field appearance="outline">
                <mat-label>woNo</mat-label>
                <input matInput  formControlName="woNo">
            </mat-form-field>

            <!-- <p-floatLabel>
                <input pInputText id="WO Ref" formControlName="woRefNo" />
                <label for="WO Ref">WO Ref</label>
            </p-floatLabel> -->

            <mat-form-field appearance="outline">
                <mat-label>woRefNo</mat-label>
                <input matInput  formControlName="woRefNo">
            </mat-form-field>

            <!-- <p-floatLabel>
                <p-calendar inputId="WO Date" formControlName="woDate" dateFormat="dd.mm.yy" />
                <label for="WO Date">WO Date</label>
            </p-floatLabel>

            <p-floatLabel>
                <p-calendar inputId="Complete Date" formControlName="completedDate" dateFormat="dd.mm.yy"/>
                <label for="Complete Date">Complete Date</label>
            </p-floatLabel> -->


        </div>
    </mat-toolbar>
    <div class="tablecss">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="KnitWorkOrderAddButton()">+</button></th>
                    <th>S.No</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Mach Dia</th>
                    <th>Fab Dia</th>

                    <th>Fab Type</th>

                    <th>Fab GSM</th>



                    <th>Knit SL</th>
                    <th>Knit Kgs</th>

                    <th>Knit Rate</th>
                    <th>Knit Value</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td></td>
                    <td>{{i+1}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="style" list="3"
                            (input)="getstylevalue($event)" (change)="getcolor()">
                        <datalist id="3">
                            <option *ngFor="let style of this.stylelist" [value]="style.style">
                        </datalist>
                    </td>
                    
                    <td>
                        <input type="text" class="form-control" formControlName="color" list="4"
                            (input)="getcolorvalue($event)" (change)="getsize()" >
                        <datalist id="4">
                            <option *ngFor="let color of this.colorlist" [value]="color.color">
                        </datalist>
                    </td>
                    
                    <td>
                        <input type="text" class="form-control" formControlName="machDia" list="5"
                            (input)="getWoId($event.target.value, i)">
                        <datalist id="5">
                            <option *ngFor="let size of this.sizelist" [value]="size.size">
                        </datalist>
                    </td>

                    <td><input class="form-control" type="text" formControlName="fabDia"></td>
                    <td><input class="form-control" type="text" formControlName="fabType"></td>
               

                    <td><input class="form-control" type="text" formControlName="fabGSM"></td>
                    
                    <td><input class="form-control" type="text" formControlName="KnitSl"></td>

                    <td><input class="form-control" type="text" formControlName="knitKg"></td>
                    <td><input class="form-control" type="text" formControlName="knitRate"></td>
                    <td><input class="form-control" type="text" formControlName="knitValue"></td>
                    <td><input class="form-control" type="text" formControlName="remarks"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: -1%;">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th><span> Notes for Knitting Process </span></th>
                    <th colspan="4"><textarea class="form-control" style="height: 1px;"
                            formControlName="notes"></textarea></th>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <mat-toolbar style="height: auto; display: flex; width: 100%; justify-content: center;"><button
            class="btn btn-primary" (click)="save()">Save</button></mat-toolbar>
</div>