<mat-tab-group>
    <!-------------------------------Header[Start]----------------------------------->
    <mat-tab label="Header">

    </mat-tab>
    <!-------------------------------Header[Ends]----------------------------------->

    <!-------------------------------Lot Check[Start]----------------------------------->
    <mat-tab label="Lot Check">

    </mat-tab>
    <!-------------------------------Lot Check[Ends]----------------------------------->

    <!-------------------------------OR Alloc[Start]----------------------------------->
    <mat-tab label="OR Alloc">

    </mat-tab>
    <!-------------------------------OR Alloc[Ends]----------------------------------->


    <!-------------------------------Receipt[Start]----------------------------------->
    <mat-tab label="Receipt">

    </mat-tab>
    <!-------------------------------Receipt[Ends]----------------------------------->


    <!-------------------------------Yarn QC[Start]----------------------------------->
    <mat-tab label="Yarn QC">

    </mat-tab>
    <!-------------------------------Yarn QC[Ends]----------------------------------->
</mat-tab-group>