tr,td,th{
    font-weight: normal;
    justify-content: center;
    text-align: center;
}
.fixTableHead{
    overflow: scroll;
    height: 85%;
    scrollbar-width: none;
  }
  thead {
    position: sticky;
    top: 0;
  }
