<div [formGroup]="load">

    <mat-toolbar class="toolbar2" color="primary">
        <div style="display: flex; justify-content: start;gap: 10px;">
            <div> <label>Factory</label> </div>
            <div>
                <select name="cars" id="cars" class="form-control" style="width: 180px;" formControlName="factory"
                    required (change)="getFactoryName($event)" [(ngModel)]="factorynamevalue" (change)="buyername()">
                    <option *ngFor="let ftyname of this.fty_name" value="{{ftyname.knitfty}}" class="form-control">
                        {{ftyname.knitfty}}</option>
                </select>
            </div>
        </div>
        <div>
            <span>Knit Production Entry</span>
        </div>
        <div style="display: flex; gap: 10px;">
            <!-- <div style="display: inline-block;">
                <label class="day-label">Machine allocated for the day</label>
                <label class="day-label1">Machine allocated for the day</label>
            </div> -->
            <div style="display: flex; gap: 10px;">
                <!-- <div>
                    <input class="form-control me-2" id="numberOfEntries" type="number" formControlName="allocatedDay">
                </div>
                <div>
                    <button class="btn btn-primary" id="loadcls" (click)="add()">Load</button>
                </div> -->
                <div style="margin-left: 5px;">
                    <input type="date" class="form-control date" formControlName="date">
                </div>

            </div>
        </div>

    </mat-toolbar>

    <mat-toolbar style="height: fit-content; padding: 10px; display: flex; justify-content: center;
    flex-wrap: wrap; gap: 50px;">

        <div class="d-flex">
            <div style="display: flex; gap: 10px;">
                <div>
                    <label style="display: inline-block;">House Keeping Status</label>
                </div>
                <div>
                    <input type="checkbox" formControlName="houseKeepingStatus" style="    width: 17px; height: 36px;">
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div style="display: flex; gap: 10px">
                <div><label style="display: inline-block;">Gas/Elec Availability</label></div>
                <div><input type="checkbox" formControlName="gasElecAvailability"
                        style="    width: 17px; height: 36px;"></div>
            </div>
        </div>

        <div class="d-flex">
            <div style="display: flex; gap: 10px">
                <div><label style="display: inline-block;">Floor Lighting Status</label></div>
                <div><input type="checkbox" formControlName="floorLightingStatus"
                        style="    width: 17px; height: 36px;"></div>
            </div>
        </div>

        <div class="d-flex">
            <div style="display: flex; gap: 10px">
                <div><label style="display: inline-block;">Storage Area Status</label></div>
                <div><input type="checkbox" formControlName="storageAreaStatus" style="    width: 17px; height: 36px;">
                </div>
            </div>
        </div>

        <span class="flex-spacer"></span>
    </mat-toolbar>


    <!--------------------------------Table------------------------------------------------------------------>
    <div class="ovralltable">
        <table class="table table-bordered  table-hover" style="width: 100%;">
            <thead class="thead-dark">
                <tr>
                    <th><button class="btn btn-primary" (click)="add()">+</button></th>
                    <th style="min-width: 80px;">Buyer</th>
                    <th style="min-width: 80px;">Order</th>
                    <th style="min-width: 80px;">Style</th>
                    <th style="min-width: 80px;">Color</th>
                    <th style="min-width: 80px;">Size</th>
                    <th style="min-width: 60px;">Knit mach. no</th>
                    <th style="min-width: 60px;">Yarn Lot</th>
                    <th style="min-width: 60px;">Day Prod</th>
                    <th style="min-width: 60px;">No.Rolls Prod</th>
                    <th style="min-width: 60px;">No.Rolls Checked</th>
                    <th style="min-width: 60px;">Knitting SL</th>
                    <th style="min-width: 60px;">Machine RPM</th>
                    <th style="min-width: 40px;">Oil Sys</th>
                    <th style="min-width: 40px;">Yarn Tension</th>
                    <th style="min-width: 40px;">Needle Qty</th>
                    <th style="min-width: 40px;">Sinker Qty</th>
                    <th style="min-width: 40px;">Moving Fan</th>
                    <th style="min-width: 40px;">All Stop Motion</th>
                    <th style="min-width: 40px;">Takeup Roller Tension</th>
                    <th style="min-width: 40px;">Remarks</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>[Kg]</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th>(Y/N)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody formArrayName="data">
                <tr *ngFor="let list of items.controls; let i=index" [formGroupName]="i">
                    <td>
                        <!-- <input type="text" class="form-control" formControlName="id" [value]="i+1"> -->
                        <p>{{i+1}}</p>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="buyer" list="1"
                            (input)="getBuyerValue(i)" (change)="getorders()">
                        <datalist id="1">
                            <option *ngFor="let name of this.buyer" [value]="name.buyer">{{name.buyer}}</option>
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="orderNo" list="2"
                            (input)="getOrderValue(i)" (change)="getstyle()" (mouseenter)="getBuyerValue(i)">
                        <datalist id="2">
                            <option *ngFor="let number of this.order" [value]="number.orderNo">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="style" list="3"
                            (input)="getstylevalue(i)" (change)="getcolor()" (mouseenter)="getOrderValue(i)">
                        <datalist id="3">
                            <option *ngFor="let style of this.stylelist" [value]="style.style">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="color" list="4"
                            (input)="getcolorvalue(i)" (change)="getsize()" (mouseenter)="getstylevalue(i)">
                        <datalist id="4">
                            <option *ngFor="let color of this.colorlist" [value]="color.color">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="size" list="5"
                            (input)="getWoId($event.target.value, i)" (mouseenter)="getcolorvalue(i)" >
                        <datalist id="5">
                            <option *ngFor="let size of this.sizelist" [value]="size.machDia">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="knitMachineno" list="6">
                        <datalist id="6">
                            <option value="">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="yarnLot" list="7">
                        <datalist id="7">
                            <option value="">
                        </datalist>
                    </td>
                    <td><input type="text" class="form-control" formControlName="dayProductionKgs" (click)="getknitWoDetails(i)"
                            (input)="valid($event.target.value)"></td>
                    <td><input type="text" class="form-control" formControlName="noOfRollsProduced"></td>
                    <td><input type="text" class="form-control" formControlName="noOfRollsChecked"></td>
                    <td><input type="text" class="form-control" formControlName="knittingSL">
                    </td>
                    <td><input type="text" class="form-control" formControlName="machineRPM">
                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="oilSystem">
                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="yarnTension">

                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="needleQuality">

                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="sinkerQuality">

                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="movingFan">
                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="allStopMotion">
                    </td>
                    <td>
                        <input type="checkbox" style="width: 20px; height: 20px;" formControlName="takeupRollerTension">
                    </td>
                    <td>

                        <textarea formControlName="remarks" class="form-control"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="display: flex; justify-content: center;" *ngIf="!this.valueExceeded">
        <button mat-raised-button color="primary" (click)="save()" style="margin-top: 3%;">Save</button>
    </div>
    <div style="display: flex; justify-content: center;" *ngIf="this.valueExceeded">
        <button mat-raised-button color="primary" style="margin-top: 3%;">
            <div class="loader"></div>
        </button>

    </div>